.header, .top_banner_list, .pager, .main_menu, .left_column, .footer_wrap, .forsite {display:none;}
.right_column {float:none;margin:0 auto;padding:0 0 50px 0;}
.right_column .type_elem .basket_table2 .print {display:block;}
.right_column .type_elem .basket_table2 p {width:450px;padding:0 230px 20px 0;position:relative;color:#434343;font-size:14px;}
.right_column .type_elem .basket_table2 p span.right {position:absolute;top:0;right:0;text-align:right;font-weight:normal;text-decoration:none;color:#010101;}
.right_column .type_elem .basket_table2 p span.right strong {color:#000;font-size:20px;font-weight:normal;line-height:22px;}
.right_column .type_elem .basket_table2 p span {font-weight:bold;text-decoration:underline;color:#000;}
.right_column .type_elem .basket_table2 .print_logo {height:170px;/*background:url(/img/logo2.jpg) 0 48px no-repeat;*/width:680px;position:relative;}
.right_column .type_elem .basket_table2 .print_logo p {width:auto;padding:0;color:#000;position:absolute;top:50px;right:0;}
.right_column .type_elem .basket_table2 .print_total {width:auto;font-size:16px;padding:10px 0;line-height:24px;text-align:right;color:#434343;}
.right_column .type_elem .basket_table2 .print_total strong {color:#000;}
.right_column .type_elem .basket_table2 .print_sign {color:#434343;float:left;width:340px;padding-top:150px;}
.right_column .type_elem .basket_table2 .print_sign2 {float:right;width:295px;}
.right_column .type_elem .basket_table2 .print_sign img {margin-top:25px;}
.right_column .type_elem .basket_table2 .print_t {visibility:visible;padding:10px;border:1px solid #434343;font:12px Tahoma;width:auto;}
.right_column .type_elem .basket_table2 table th, .right_column .type_elem .basket_table2 table td {font-size:14px;}
.logo_print{
    margin-top: 60px;
}
  