/* CSS Document */
body {height:100%;font:12px/18px Tahoma, Arial, Verdana, Sans-Serif;color:#434343;background:#fff;}
html, body {margin:0;padding:0;} 
.header div, .header p, .header ul, .header ol, .header li, .header a, .header form, .header table, .header td, .header h1, .header h2, .header h3, .header h4, .header h5 {margin:0;padding:0;} 
.top_banner_list div, .top_banner_list p, .top_banner_list ul, .top_banner_list ol, .top_banner_list li, .top_banner_list a, .top_banner_list form, .top_banner_list table, .top_banner_list td, .top_banner_list h1, .top_banner_list h2, .top_banner_list h3, .top_banner_list h4, .top_banner_list h5 {margin:0;padding:0;} 
.pager div, .pager p, .pager ul, .pager ol, .pager li, .pager a, .pager form, .pager table, .pager td, .pager h1, .pager h2, .pager h3, .pager h4, .pager h5 {margin:0;padding:0;} 
.left_column div, .left_column p, .left_column ul, .left_column ol, .left_column li, .left_column a, .left_column form, .left_column table, .left_column td, .left_column h1, .left_column h2, .left_column h3, .left_column h4, .left_column h5 {margin:0;padding:0;} 
.footer div, .footer p, .footer ul, .footer ol, .footer li, .footer a, .footer form, .footer table, .footer td, .footer h1, .footer h2, .footer h3, .footer h4, .footer h5 {margin:0;padding:0;} 
.header table, .top_banner_list table, .pager table, .left_column table, .footer table {border-collapse:collapse;}
.header img, .top_banner_list img, .pager img, .left_column img, .footer img {border:none;}
.header ul, .top_banner_list ul, .pager ul, .left_column ul, .footer ul, .header li, .top_banner_list li, .pager li, .left_column li, .footer li {list-style:none;}
.header a, .top_banner_list a, .pager a, .left_column a, .footer a, .header a:active, .top_banner_list a:active, .pager a:active, .left_column a:active, .footer a:active {text-decoration:underline;color:#477eb6;}
.header a:visited, .top_banner_list a:visited, .pager a:visited, .left_column a:visited, .footer a:visited {text-decoration:underline;color:#477eb6;}
.header a:hover, .top_banner_list a:hover, .pager a:hover, .left_column a:hover, .footer a:hover {text-decoration:none;color:#477eb6;}
input:focus {outline:none;}
textarea {resize:none;}
textarea:focus {outline:none;}

/*  All  */ 
.header img, .left_column img, .footer_wrap img {margin:0;padding:0;} 
.wraper {position:relative;width:950px;margin:0 auto;}
.zindex {z-index:10;}
.nofont {font-size:0;line-height:0;} 
.clear {clear:both;font-size:0;line-height:0;height:1px;}
.header {position:relative;width:950px;z-index:10;height:287px;background:url(/img/header.jpg) no-repeat;}
.header .logo {position:absolute;top:53px;left:0px;z-index:1;}
.header .top_text {position:absolute;width:230px;top:68px;right:0px;z-index:2;text-align:right;}
.header .top_text span {color:#34679b;font-size:26px;line-height:26px;}
.header .pic_menu {position:absolute;top:151px;left:607px;}
.header .pic_menu li {font-size:0;line-height:0;float:left;width:13px;height:11px;padding:0;}
.header .pic_menu li.pad {padding:0 34px;}
.header .pic_menu li a, .header .pic_menu li a:visited {display:block;cursor:pointer;width:13px;height:11px;color:#fff;}
.header .pic_menu li a.home, .header .pic_menu li a.home:visited {background:url(/img/sprite.gif) 0 0 no-repeat;}
.header .pic_menu li.active a.home, .header .pic_menu li.active a.home:visited {background:url(/img/sprite.gif) 0 -11px no-repeat;}
.header .pic_menu li a.home:hover {background:url(/img/sprite.gif) 0 -11px no-repeat;}
.header .pic_menu li a.email, .header .pic_menu li a.email:visited {background:url(/img/sprite.gif) -13px 0 no-repeat;}
.header .pic_menu li.active a.email, .header .pic_menu li.active a.email:visited {background:url(/img/sprite.gif) -13px -11px no-repeat;}
.header .pic_menu li a.email:hover {background:url(/img/sprite.gif) -13px -11px no-repeat;}
.header .pic_menu li a.sitemap, .header .pic_menu li a.sitemap:visited {background:url(/img/sprite.gif) -26px 0 no-repeat;}
.header .pic_menu li.active a.sitemap, .header .pic_menu li.active a.sitemap:visited {background:url(/img/sprite.gif) -26px -11px no-repeat;}
.header .pic_menu li a.sitemap:hover {background:url(/img/sprite.gif) -26px -11px no-repeat;}
.header .enter_exit {position:absolute;top:13px;left:26px;color:#34679b;}
.header .enter_exit a, .header .enter_exit a:visited {color:#34679b;}
.header .enter_exit span {padding:0 11px;}
.header .busket {position:absolute;top:171px;left:15px;width:149px;padding:7px 32px 0 30px;height:101px;background:url(/img/busket.jpg) no-repeat;}
.header .busket a, .header .busket a:visited {text-decoration:none;color:#105caa;}
.header .busket p {position:relative;}
.header .busket p span {position:absolute;right:0;text-align:right;}
.header .busket p.tit {font-size:17px;padding-bottom:10px;}
.header .busket p.center {text-align:center;text-transform:uppercase;font-weight:bold;padding-top:10px;}
.header .busket_bg {background:url(/img/busket2.jpg) no-repeat;}
.header .busket_bg a, .header .busket_bg a:visited {color:#fff;}
.header .busket_bg p.order {text-transform:uppercase;font-weight:bold;padding-top:10px;background:url(/img/arrows.gif) right 14px no-repeat;}
.header .busket_bg p.order a, .header .busket_bg p.order a:visited {text-decoration:underline;}
.header .busket_bg p.order a:hover {text-decoration:none;}
.header .top_menu_block {padding:13px 0 0 240px;z-index:2;width:710px;}
.header .top_menu_block table {float:right;}
.header .top_menu_block td {padding:0 14px 0 14px;text-align:right;}
.header .top_menu_block td a, .header .top_menu_block td a:visited {color:#34679b;text-decoration:none;}
.header .top_menu_block td a:hover {color:#34679b;text-decoration:underline;}
.header .lng {color:#34679b;position:absolute;top:147px;right:0;}
.header .lng a, .header .lng a:visited {color:#34679b;}
.header .lng span {color:#69baf7}
.header .alpha {position:absolute;top:249px;left:260px;color:#fff;}
.header .alpha a, .header .alpha a:visited {color:#fff;margin-left:12px;text-decoration:none;}
.header .alpha a:hover {color:#a9d7ff;text-decoration:underline;}
.header .region {position:absolute;z-index:10;top:147px;left:260px;color:#707070;font-weight:bold;}
.header .region a, .header .region a:visited {color:#34679b;font-weight:normal;background:url(/img/arrow2.gif) right 7px no-repeat;padding-right:15px;}
.header .region .region_list {display:none;width:141px;padding:10px 20px;position:absolute;top:20px;left:83px;background:#e6f3ff;border-right:1px solid #d3d3d3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;behavior: url(PIE.htc);font-weight:normal;}
.header .region .region_list ul li {position:relative;z-index:100;padding:1px 0;}
.header .region .region_list ul li a, .header .region .region_list ul li a:visited {color:#535353;text-decoration:none;background:none;padding:0;}
.header .region .region_list ul li a:hover {color:#3b7fc7;text-decoration:underline;}
.header .lang {position:absolute;z-index:11;top:147px;left:550px;color:#707070;font-weight:bold;}
.header .search_block {position:absolute;top:195px;left:270px;}
.header .search_block input {vertical-align:middle;color:#8c8c8c;font:12px Tahoma;width:550px;height:27px;padding:0 15px;background:#fff;border:none;border-top:1px solid #92afc8;border-left:1px solid #92afc8;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;behavior: url(PIE.htc);}
.header .search_block input.button {color:#fff;font:17px Tahoma;width:auto;height:auto;padding:0;background:url(/img/line3.gif) center bottom no-repeat;border:none;margin-left:23px;cursor:pointer;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.header .search_block input.button:hover {background:none;}

.top_banner_list ul {width:950px;margin:0 auto;}
.top_banner_list ul li {font-size:16px;float:left;width:468px;height:73px;margin:0 14px 0 0;}
.top_banner_list ul li.last {margin-right:0;}
.top_banner_list ul li a, .top_banner_list ul li a:visited {color:#2f6aa8;text-decoration:none;display:block;padding:20px 0 0 35px;width:433px;height:40px;background:url(/img/banner.jpg) no-repeat;}
.top_banner_list ul li.last a, .top_banner_list ul li.last a:visited {background:url(/img/banner2.jpg) no-repeat;}

.pager {color:#b9b9b9;padding:0 5px 8px 5px;position:relative;z-index:1;} 
.pager a, .pager a:visited {color:#9c9a9a;}
.pager a:hover {color:#9c9a9a;}
.pager span {background:url(/img/arrow.gif) 4px 6px no-repeat;padding:0 7px;}

.main_menu {position:relative;z-index:5;height:60px;background:#2270bf url(/img/main_menu.gif) repeat-x;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;behavior: url(PIE.htc);margin-bottom:7px;}
.sf-menu, .sf-menu * {margin: 0;padding: 0;list-style: none;}
.sf-menu li {float:left;}
.sf-menu li span {display:none;width:125px;height:2px;background:#ddf0ff;position:absolute;top:60px;left:2px;z-index:100;}
.sf-menu li.link2 span {width:125px;left:2px;width:93px;height:4px;top:58px;}
.sf-menu li.link3 span {width:125px;left:2px;width:174px;height:4px;top:58px;}
.sf-menu li.link4 span {width:125px;left:2px;width:170px;height:4px;top:58px;}
.sf-menu li.link6 span {width:125px;left:2px;width:141px;height:4px;top:58px;}
.sf-menu li.link5 span {width:89px;left:2px;width:105px;height:4px;top:58px;}
.sf-menu li.last span {width:114px;}
.sf-menu li:hover span {display:block;}
/*.sf-menu li.link4 span {display:none;}*/
.sf-menu li li span, .sf-menu li:hover li span {display:none;}
.sf-menu li li li span {display:none;}
.sf-menu li a, .sf-menu li a:visited {color:#fff;text-decoration:none;display:block;height:49px;padding:11px 10px 0 10px;background:url(/img/line.gif) right 11px no-repeat;text-align:center;position:relative;}
.sf-menu li.first a {width:109px;height:49px;padding-top:11px;}
.sf-menu li.link2 a {width:77px;height:41px;padding-top:19px;}
.sf-menu li.link3 a {width:158px;height:49px;padding-top:11px;}
.sf-menu li.link4 a {width:154px;height:49px;padding-top:11px;}
.sf-menu li.link5 a {width:89px;height:49px;padding-top:11px;}
.sf-menu li.link6 a {width:125px;height:49px;padding-top:11px;}
.sf-menu li.last a {width:98px;height:41px;padding-top:19px;background:none;}
.sf-menu li a:hover {color:#133961;text-decoration:underline;background:#ddf0ff;border:2px solid #5aa8f9;}
.sf-menu li.first a:hover {width:109px;height:49px;padding-top:11px;border:none;}
.sf-menu li.link2 a:hover {width:73px;height:39px;padding-top:17px;}
.sf-menu li.link3 a:hover {width:154px;height:47px;padding-top:9px;}
.sf-menu li.link4 a:hover {width:550px;height:47px;padding-top:9px;}
.sf-menu li.link5 a:hover {width:89px;height:47px;padding-top:9px;}
.sf-menu li.link6 a:hover {width:123px;height:47px;padding-top:9px;}
.sf-menu li.last a:hover {width:98px;height:41px;padding-top:19px;border:none;}
.sf-menu ul {position:absolute;top:-999em;width:864px;background:#f2faff url(/img/main_menu2.gif);border:2px solid #5aa8f9;-webkit-border-bottom-right-radius: 7px;-webkit-border-bottom-left-radius: 7px;-moz-border-radius-bottomright: 7px;-moz-border-radius-bottomleft: 7px;border-bottom-right-radius: 7px;border-bottom-left-radius: 7px;behavior: url(PIE.htc);}
.sf-menu .link2 ul {width:794px;background:#f2faff url(/img/main_menu3.gif);}
.sf-menu .link2 ul ul {width:auto;background:none;}
.sf-menu .link3 ul {width:794px;background:#f2faff url(/img/main_menu3.gif);}
.sf-menu .link3 ul ul {width:auto;background:none;}
.sf-menu .link4 ul {width:794px;background:#f2faff url(/img/main_menu3.gif);}
.sf-menu .link4 ul ul {width:auto;background:none;}

.sf-menu ul ul {width:auto;background:none;border:none;padding:6px 0;}
.sf-menu ul li {width:100%;}
.sf-menu ul li li {width:auto;}
.sf-menu li:hover {visibility:inherit;}
.sf-menu li {float:left;position:relative;}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {left:0;top:60px;z-index:99;}
.sf-menu li.link3 ul {left:-157px;}
.sf-menu li.link4 ul {left:-270px;}
.sf-menu li.link5 ul {left:-557px;}
.sf-menu li.link6 ul {left:-653px;}
.sf-menu li.last ul {left:-750px;}
.sf-menu li:hover ul ul, .sf-menu li.sfHover ul ul {position:static;}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {outline:0;}
.sf-menu li.first:hover a {color:#133961;background:url(/img/f_hover.gif) no-repeat;}
.sf-menu li.first:hover li a {background:none;border:none;}
.sf-menu li.link2:hover a {color:#133961;background:#ddf0ff;border:2px solid #5aa8f9;width:73px;padding-top:17px;}
.sf-menu li.link2:hover li a {background:none;border:none;}
.sf-menu li.link3:hover a {color:#133961;background:#ddf0ff;border:2px solid #5aa8f9; width:154px;padding-top:9px;}
.sf-menu li.link3:hover li a {background:none;border:none;}


.sf-menu li.link4:hover a {color:#133961;background:#ddf0ff;border:2px solid #5aa8f9; width:150px;padding-top:9px;}
.sf-menu li.link4:hover li a {background:none;border:none;}

.sf-menu li.link5:hover a {color:#133961;background:#ddf0ff;border:2px solid #5aa8f9;width:85px;padding-top:9px;}
.sf-menu li.link5:hover li a {background:none;border:none;}

.sf-menu li.link6:hover a {color:#133961;background:#ddf0ff;border:2px solid #5aa8f9;width:121px;padding-top:9px;}
.sf-menu li.link6:hover li a {background:none;border:none;}

.sf-menu li.last:hover a {color:#133961;background:url(/img/last_h2.gif) no-repeat;}
.sf-menu li.last:hover li a {background:none;border:none;}
.sf-menu a.sf-with-ul {min-width:1px;}
.sf-menu li li {width:288px;}
.sf-menu li.link2 li {width:264px;}

.sf-menu li.link2 li.link2 {width:auto;}


.sf-menu li li li {float:none;width:auto;padding:2px 19px 4px 19px;line-height:12px;}
.sf-menu li.link2 li li, .sf-menu li li li.link2 {width:auto;}
.sf-menu li.first:hover li a, .sf-menu li.link2:hover li a, .sf-menu li.link3:hover li a, .sf-menu li.link5:hover li a, .sf-menu li.last:hover li a {color:#34679b;display:inline;height:auto;padding:0;}
.sf-menu li.first:hover li a:hover, .sf-menu li.link2:hover li a:hover, .sf-menu li.last:hover li a:hover {color:#133961;}
.sf-menu li li li a, .sf-menu li li li a:visited {color:#34679b;text-decoration:none;display:inline;height:auto;padding:0;background:none;text-align:left;}
.sf-menu li li a, .sf-menu li li.first a, .sf-menu li li.link2 a, .sf-menu li li.link3 a, .sf-menu li li.link4 a, .sf-menu li li.link5 a, .sf-menu li li.link6 a, .sf-menu li li.last a {width:auto;height:auto;padding:0;}
.sf-menu li li a:hover, .sf-menu li li.first a:hover, .sf-menu li li.link2 a:hover, .sf-menu li li.link3 a:hover, .sf-menu li li.link4 a:hover, .sf-menu li li.link5 a:hover, .sf-menu li li.link6 a:hover, .sf-menu li li.last a:hover {width:auto;height:auto;padding:0;background:none;border:none;}
.sf-menu li li li a:hover {color:#133961;text-decoration:underline;}

.left_column {float:left;width:240px;padding:5px 30px 30px 0;}
.left_column .left_menu {padding:0 0 15px 0;}
.left_column .left_menu .tit {font-size:18px;color:#34679b;padding-bottom:10px;}
.left_column .left_menu li {padding:0 0 6px 10px;line-height:12px;color:#34679b;}
.left_column .left_menu li a, .left_column .left_menu li a:visited {color:#34679b;text-decoration:none;}
.left_column .left_menu li a:hover {color:#1b4b7c;text-decoration:underline;}
.left_column .nofont {margin-bottom:18px;}
.left_column .bottom_corn {height:10px;width:241px;background:url(/img/bottom_corn.gif) no-repeat;font-size:0;line-height:0;}
.left_column .poll_block {border-right:1px solid #e4e4e4;border-left:1px solid #e4e4e4;padding-bottom:10px;}
.left_column .poll_tit {font-size:16px;text-align:center;color:#fff;background:#3b7cc4 url(/img/poll.jpg) no-repeat;padding:12px 15px;-webkit-border-top-left-radius: 5px;}
.left_column .poll_block ul {float:left;padding:13px 0 10px 0;}
.left_column .poll_block ul li {clear:both;float:left;width:185px;padding:0 0 5px 15px;color:#125e93;}
.left_column .poll_block ul li input {float:left;margin-right:10px;}
.left_column .poll_block ul li span {float:left;width:155px;display:block;}
.left_column .poll_block .button_wrap {text-align:center;}

.right_column .type_elem div, .right_column .type_elem p, .right_column .type_elem ul, .right_column .type_elem ol, .right_column .type_elem li, .right_column .type_elem a, .right_column .type_elem form, .right_column .type_elem table, .right_column .type_elem td, .right_column .type_elem h1, .right_column .type_elem h2, .right_column .type_elem h3, .right_column .type_elem h4, .right_column .type_elem h5 {margin:0;padding:0;}
.right_column .type_elem table {border-collapse:collapse;}
.right_column .type_elem img {border:none;}
.right_column .type_elem ul, .right_column .type_elem li {list-style:none;}
.right_column .type_elem a, .right_column .type_elem a:active {text-decoration:underline;color:#477eb6;}
.right_column .type_elem a:visited {text-decoration:underline;color:#477eb6;}
.right_column .type_elem a:hover {text-decoration:none;color:#477eb6;}

.right_column {float:left;width:675px;padding:5px 0 30px 0;margin:0;}
.type_elem {margin:0;padding:0;}
.right_column .type_elem .type_elem .center {text-align:center;}
.right_column .type_elem .right {text-align:right;}
.right_column .type_elem h1 {font:24px/28px Tahoma;color:#34679b;padding:0 0 20px 0;}
.right_column .type_elem h2 {font:22px/26px Tahoma;color:#34679b;padding:0 0 20px 0;}
.right_column .type_elem h3 {font:20px/24px Tahoma;color:#34679b;padding:0 0 20px 0;}
.right_column .type_elem h4 {font:bold 18px/22px Tahoma;color:#434343;padding:0 0 5px 0;}
.right_column .type_elem h5 {font:bold 16px/20px Tahoma;color:#434343;padding:0 0 5px 0;}
.right_column .type_elem h6 {font:bold 14px/18px Tahoma;color:#434343;padding:0 0 5px 0;margin:0;}
.right_column .type_elem p {padding:0 0 15px 0;}
.right_column .type_elem img {vertical-align:middle;}
.right_column .type_elem img.float_left {margin:0 8px 5px 0;float:left;}
.right_column .type_elem img.float_right {margin:0 0 5px 8px;float:right;}
.right_column .type_elem select {vertical-align:middle;width:150px;font:12px/16px Tahoma;color:#000;border:1px solid #abadb3;}
.right_column .type_elem .error {color:#ff0000;}
.right_column .type_elem input {vertical-align:middle;width:145px;height:25px;padding:0 11px;border:1px solid #bcbcbc;font:12px Tahoma;color:#434343;}
.right_column .type_elem .error input {border:1px solid #ff0000;color:#ff0000;}
.right_column .type_elem input:focus {outline:none;}
.right_column .type_elem input.check {width:auto;height:auto;padding:0;border:none;}
.right_column .type_elem textarea {vertical-align:middle;padding:5px 10px;width:288px;height:54px;border:1px solid #b2b2b2;font:12px Tahoma;color:#434343;}
.right_column .type_elem textarea:focus {outline:none;}
.right_column .type_elem input.button, .left_column input.button {border:none;width:97px;height:34px;background:url(/img/sprite.gif) 0 -28px no-repeat;font:16px Tahoma;color:#fff;cursor:pointer;}
.right_column .type_elem input.button-hover, .left_column input.button-hover {background:url(/img/sprite.gif) -107px -28px no-repeat;}
.right_column .type_elem input.button-focus, .left_column input.button-focus {background:url(/img/sprite.gif) -214px -28px no-repeat;}
.right_column .type_elem table {width:100%;margin:10px 0 15px 0;}
.right_column .type_elem table th {border-bottom:1px solid #bcbcbc;border-top:1px solid #fff;color:#434343;text-align:left;padding:10px 20px;font-weight:normal;}
.right_column .type_elem table td {border-bottom:1px solid #bcbcbc;border-top:1px solid #bcbcbc;color:#434343;padding:10px 20px;vertical-align:top;}
.right_column .type_elem table tr:hover {background:#f6f9fd;}
/*.right_column .type_elem table tr:hover th, .right_column .type_elem table tr:hover td {border-bottom:1px solid #4b8cd1;background:url(/img/dot.gif) repeat-x;} */
.right_column .type_elem table td a, .right_column .type_elem table td a:visited {color:#434343;text-decoration:none;}
.right_column .type_elem table td a:hover {text-decoration:underline;color:#434343;}
.right_column .type_elem ul li {font-size:14px;background:url(/img/arrow3.gif) 16px 5px no-repeat;padding:0 0 7px 29px;}
.right_column .type_elem ul li a, .right_column .type_elem ul li a:visited {color:#34679b;text-decoration:none;}
.right_column .type_elem ul li a:hover {text-decoration:underline;}
.right_column .type_elem ul li ul li {background:url(/img/line2.gif) 8px 16px no-repeat;padding:7px 0 0 16px;font-size:12px;}
.right_column .type_elem .all {text-align:right;margin:-38px 0 12px 0;padding-bottom:10px;background:url(/img/dots.gif) 0 bottom repeat-x;}

.right_column .type_elem .news_list {padding:0 0 15px 0;}
.right_column .type_elem .news_list li {padding:15px 0 0 0;color:#313131;background:none;clear:both;}
.right_column .type_elem .news_list li img {padding:1px 2px 3px 2px;background:url(/img/img_bg.gif) no-repeat;}
.right_column .type_elem .news_list li a, .right_column .type_elem .news_list li a:visited {font-size:16px;}
.right_column .type_elem .news_list li span {padding-left:14px;}
.right_column .type_elem .news_list li p {padding:7px 0 0 0;font-size:12px;color:#676767;}
.right_column .type_elem .news_list li p a, .right_column .type_elem .news_list li p a:visited {font-size:12px;text-decoration:underline;} 
.right_column .type_elem .news_list li p a:hover {text-decoration:none;} 

.right_column .type_elem .goods_list ul {float:left;padding:0 0 10px 0;margin-bottom:10px;font-size:0;border-bottom:1px solid #dbdbdb;} 
.right_column .type_elem .goods_list ul ul {border-bottom:none;} 
.right_column .type_elem .goods_list .nobord {font-size:0;line-height:0;height:10px;background:#fff;margin:-15px 0 5px 0;position:relative;} 
.right_column .type_elem .goods_list ul ul {float:none;padding:0;}
.right_column .type_elem .goods_list ul li {clear:both;float:none;width:auto;padding:0;background:none;font-size:12px;}
.right_column .type_elem .goods_list ul li li {clear:none;float:left;width:148px;padding:0 29px 0 0;}
.right_column .type_elem .goods_list ul li.last {padding-right:0;}
.right_column .type_elem .goods_list ul li .img {position:relative;height:150px;font-size:0;line-height:0;}
.right_column .type_elem .goods_list ul li .img img {border:1px solid #fff;}
.right_column .type_elem .goods_list ul li .img:hover img {border:1px solid #d0e7fe;}
.right_column .type_elem .goods_list ul li .tit {font:14px/17px Tahoma;color:#000;padding:6px 0 3px 0;min-height:74px;}
.right_column .type_elem .goods_list ul li p {padding:0 0 5px 0;position:relative;width:148px;color:#434343;}
.right_column .type_elem .goods_list ul li p.price {color:#838383;}
.right_column .type_elem .goods_list ul li p.price span {position:absolute;right:0;top:0;font-size:18px;color:#125e93;}
.right_column .type_elem .goods_list ul li .buy {padding:6px 0 10px 0;color:#434343;position:relative;width:148px;}
.right_column .type_elem .goods_list ul li .buy input {border:1px solid #dcdfe6;border-top:1px solid #aaadb2;color:#434343;width:23px;margin-right:5px;padding:2px 6px;font-size:12px;height:16px;}
.right_column .type_elem .goods_list ul li .buy a, .right_column .type_elem .goods_list ul li .buy a:visited {font:bold 14px/18px Tahoma;color:#fff;cursor:pointer;width:73px;height:27px;padding-top:3px;display:block;text-align:center;background:url(/img/sprite.gif) 0 -73px no-repeat;position:absolute;top:4px;right:0;}
.right_column .type_elem .goods_list ul li .buy a:hover {text-decoration:none;background:url(/img/sprite.gif) -83px -73px no-repeat;}

.right_column .type_elem .pager2 {font-size:14px;position:relative;}
.right_column .type_elem .pager2_center {text-align:center;}
.right_column .type_elem .pager2 span {margin:0 10px;color:#606060;}
.right_column .type_elem .pager2 span.active {color:#9d9d9d;}
.right_column .type_elem .pager2 a, .right_column .type_elem .pager2 a:visited {color:#606060;margin:0 10px;}
.right_column .type_elem .pager2 a:hover {color:#477eb6;}
.right_column .type_elem .pager2 .nomarg {margin-left:0;}
.right_column .type_elem .pager2 p {float: right;right: 0px;top: 0px;width: 470px;}
.right_column .type_elem .pager2 p select {width:58px;}

.right_column .type_elem .product_table table th {padding:10px 10px;}
.right_column .type_elem .product_table table td {padding:10px 10px;}
.right_column .type_elem .product_table table td a, .right_column .type_elem .product_table table td a:visited {font-size:14px;color:#34679b;}
.right_column .type_elem .product_table table td span {font-size:18px;color:#125e93;}
.right_column .type_elem .product_table table td input {border:1px solid #dcdfe6;border-top:1px solid #aaadb2;color:#434343;width:23px;margin-right:5px;padding:2px 6px;font-size:12px;height:16px;}
.right_column .type_elem .product_table table .first {padding-left:0;}
.right_column .type_elem .product_table table .center {white-space:nowrap;text-align:center;vertical-align:middle;}
.right_column .type_elem .product_table table .inp {white-space:nowrap;vertical-align:middle;}
.right_column .type_elem .product_table table .last {vertical-align:middle;}
.right_column .type_elem .product_table table .last a, .right_column .type_elem .product_table table .last a:visited {font:bold 14px/18px Tahoma;color:#fff;cursor:pointer;width:73px;height:27px;padding-top:3px;display:block;text-align:center;background:url(/img/sprite.gif) 0 -73px no-repeat;}
.right_column .type_elem .product_table table .last a:hover {text-decoration:none;background:url(/img/sprite.gif) -83px -73px no-repeat;}

.right_column .type_elem .basket_table {margin-top:-20px;}
.right_column .type_elem .basket_table table th {padding:10px 10px;white-space:nowrap;}
.right_column .type_elem .basket_table table td {padding:10px 10px;vertical-align:middle;}
.right_column .type_elem .basket_table table td span {font-size:18px;color:#125e93;}
.right_column .type_elem .basket_table table td input {border:1px solid #dcdfe6;border-top:1px solid #aaadb2;color:#434343;width:23px;margin-right:5px;padding:2px 6px;font-size:12px;height:16px;}
.right_column .type_elem .basket_table table .right {text-align:right;white-space:nowrap;}
.right_column .type_elem .basket_table table .last {text-align:center;}
.right_column .type_elem .basket_table table .now {white-space:nowrap;}
.right_column .type_elem .basket_table .total {font-size:18px;line-height:28px;text-align:right;padding:5px 0;}
.right_column .type_elem .basket_table .total span {color:#125e93;}
.right_column .type_elem .basket_table .total a {font-size:14px;}

.right_column .type_elem .order_block {padding:0 0 0 123px;width:450px;}
.right_column .type_elem .order_block span {color:#ff0000;}
.right_column .type_elem .order_block table td {border:none;padding:5px 10px 5px 0;}
.right_column .type_elem .order_block table tr:hover {background:none;}
.right_column .type_elem .order_block table td input {width:286px;}
.right_column .type_elem .order_block .right {padding-right:10px;}

.right_column .type_elem .basket_table2 p strong {color:#000;}
.right_column .type_elem .basket_table2 table th {padding:10px 10px;white-space:nowrap;border:1px solid #434343;background:#e9e9e9;}
.right_column .type_elem .basket_table2 table td {padding:10px 10px;vertical-align:middle;border:1px solid #434343;}
.right_column .type_elem .basket_table2 table td span {font-size:18px;color:#125e93;}
.right_column .type_elem .basket_table2 table td input {border:1px solid #dcdfe6;border-top:1px solid #aaadb2;color:#434343;width:23px;margin-right:5px;padding:2px 6px;font-size:12px;height:16px;}
.right_column .type_elem .basket_table2 table .right {text-align:right;white-space:nowrap;}
.right_column .type_elem .basket_table2 table .center {text-align:center;}
.right_column .type_elem .basket_table2 table .now {white-space:nowrap;}
.right_column .type_elem .basket_table2 .total {font-size:18px;line-height:28px;text-align:right;padding:5px 0;}
.right_column .type_elem .basket_table2 .total span {color:#125e93;}
.right_column .type_elem .basket_table2 .total a {font-size:14px;}
.right_column .type_elem .basket_table2 .print {display:none;}
.right_column .type_elem .basket_table2 .print_t {visibility:hidden;padding:0;border:none;font-size:0;line-height:0;width:0;}

.right_column .type_elem .apteka_map p strong {color:#000;}
.right_column .type_elem .apteka_map .flash {padding:30px 0;} 

.right_column .type_elem .feedback_block {padding:0 0 0 123px;width:450px;}
.right_column .type_elem .feedback_block table td {border:none;padding:5px 10px 5px 0;}
.right_column .type_elem .feedback_block table tr:hover {background:none;}
.right_column .type_elem .feedback_block table td input {width:286px;}
.right_column .type_elem .feedback_block table td a, .right_column .type_elem .feedback_block table td a:visited {color:#34679b;text-decoration:underline;}
.right_column .type_elem .feedback_block table td a:hover {color:#34679b;text-decoration:none;}
.right_column .type_elem .feedback_block table td .capcha_wrap {position:relative;background:#e2f5f5;border:1px solid #e2f5f5;width:308px;height:60px;font-size:0;line-height:0;}
.right_column .type_elem .feedback_block table td .capcha_wrap input {position:absolute;top:16px;left:178px;border:1px solid #b0c9d5;font:16px Tahoma;color:#434343;text-align:center;width:64px;}
.right_column .type_elem .feedback_block table td input.button {width:117px;margin-top:5px;background:url(/img/sprite.gif) 0 -106px no-repeat;}
.right_column .type_elem .feedback_block table td input.button-hover {background:url(/img/sprite.gif) -127px -106px no-repeat;}
.right_column .type_elem .feedback_block table td input.button-focus {background:url(/img/sprite.gif) -254px -106px no-repeat;}

.right_column .type_elem .product_full .img {position:relative;float:left;width:346px;margin:12px 47px 0 0;padding:23px 0;text-align:center;}
.right_column .type_elem .product_full .img .zoom {position:absolute;top:0;right:0;padding:0 0 0 21px;background:url(/img/zoom.gif) 0 center no-repeat;}
.right_column .type_elem .product_full .img .zoom a, .right_column .type_elem .product_full .img .zoom a:visited {color:#909090;text-decoration:none;}
.right_column .type_elem .product_full .img .zoom a:hover {color:#909090;text-decoration:underline;}
.right_column .type_elem .product_full .desc {float:left;width:280px;padding-bottom:23px;}
.right_column .type_elem .product_full .desc p span {color:#838383;}
.right_column .type_elem .product_full .desc p.right {text-align:right;}
.right_column .type_elem .product_full .desc p.right span {color:#34679b;font-size:18px;}
.right_column .type_elem .product_full .desc p.right strong {font-size:14px;color:#649506;}
.right_column .type_elem .product_full .desc p.right img {margin-top:7px;}
.right_column .type_elem .product_full .desc .price {border:1px solid #c3c3c3;padding:15px 0 15px 27px;margin-bottom:12px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;behavior: url(PIE.htc);}
.right_column .type_elem .product_full .desc .price p {color:#838383;padding:0 0 25px 0;width:230px;position:relative;}
.right_column .type_elem .product_full .desc .price p span {color:#125e93;font-size:24px;line-height:27px;position:absolute;top:-4px;right:0;}
.right_column .type_elem .product_full .desc .price p input {width:26px;border:1px solid #e3e3ed;border-top:1px solid #aaadb2;padding:0 5px;height:20px;}
.right_column .type_elem .product_full .desc .price p.buy {color:#434343;padding:0 0 5px 0;}
.right_column .type_elem .product_full .desc .price p.buy a, .right_column .type_elem .product_full .desc .price p.buy a:visited {text-decoration:none;font:18px/20px Tahoma;color:#fff;cursor:pointer;width:103px;height:30px;padding-top:7px;display:block;text-align:center;background:url(/img/sprite.gif) 0 -151px no-repeat;}
.right_column .type_elem .product_full .desc .price p.buy a:hover {text-decoration:none;background:url(/img/sprite.gif) -113px -151px no-repeat;}
.right_column .type_elem .product_full .desc .price p.buy span {top:-8px;}
.right_column .type_elem .product_full .instr {padding-bottom:10px;}
.right_column .type_elem .product_full .instr p strong {color:#000;}

.footer_wrap {background:#3f73a9 url(/img/footer.gif) repeat-x;margin:0;padding:0;}
.footer {clear:both;width:950px;position:relative;padding-top:15px;margin:0 auto;}
.footer .left {float:left;width:240px;padding:0 30px 20px 0;color:#fff;}
.footer .left p {padding-bottom:15px;}
.footer .left span {font:22px Tahoma;display:block;padding-top:5px;}
.footer .right {float:left;color:#fff;width:680px;padding:0 0 20px 0;}
.footer .copy {float:left;width:270px;padding:0 0px 10px 0;color:#fff;}
.footer .copy p {padding-bottom:15px;}
.footer .rules {position:relative;float:left;color:#fff;width:680px;padding:0 0 10px 0;}
.footer .rules a, .footer .rules a:visited {color:#fff;}
.footer .rules span {position:absolute;top:-20px;right:0;font-size:9px;font-weight:bold;}
.footer .rules span a, .footer .rules span a:visited {color:#bbe1f2;text-decoration:none;}
html body div.wraper div.right_column div.type_elem div.basket_table form table tbody tr.hide{
    display: none;
}

/* answers */
.poll_form
{
    padding: 10px 20px;
}
.poll_form div
{
    margin-bottom: 5px;
    display: block;
    float: left;
}
.poll_form div input
{
    float: left;
    margin-top: 1px;
}
span.ui-radio 
{
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	background: url("/img/icon_checkbox.png") 0 -44px no-repeat;
	margin-top: 3px;
	cursor: pointer;
}
label.ui-radio
{
    cursor: pointer;
}
span.ui-helper-hidden 
{
	display: none;
}
span.ui-radio-state-hover 
{
	background-position: 0 -118px;
}
span.ui-radio-state-checked-disabled-hover,
span.ui-radio-state-checked-disabled,
span.ui-radio-state-checked 
{
	background-position: 0 -165px;
}

span.ui-radio-state-checked-hover 
{
	background-position: 0 -204px;
}
.ui-radio-disabled
{
	opacity: 0.7;
}
.poll_form label
{
    color: #125e93;
    display: block;
    float: left;
    margin-left: 10px;
    width: 160px;
}
    /* submit poll */
#submit_poll_wrapper
{
    text-align: center;
    width: 100%;
    margin: 10px 0 20px 0;
    height: 30px;
}
#submit_poll_wrapper .s_but_holder
{

}


html body div.wraper div.left_column div.poll_block form ul li div span.ui-radio{	
width:20px;
}
b.pact{
    color: #059d13;
}
b.nopact{
    color: #ff0000;
}
.textfb{
    width: 150px;
    overflow: hidden;
    float:left;
}
html body div.wraper div.right_column div.type_elem div#f-back{
    width: 500px;
    margin: 0 auto;
}
html body div.wraper div.right_column div.type_elem div#f-back form div.code{
    margin-bottom: 10px; margin-top: 10px;
}
html body div.wraper div.right_column div.type_elem div#f-back form div.in-code{
    margin-left: 150px;
}



/*
Моальное окно
*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  /*position:absolute;*/
  position: fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog {
  width:375px; 
  height:120px;
  padding:10px;
  background-color:#ffffff;
  border: solid 2px #1A67B6;
}

#boxes #dialog1 {
  width:375px; 
  height:203px;
}

#dialog1 .d-header {
  background:url(images/login-header.png) no-repeat 0 0 transparent; 
  width:375px; 
  height:150px;
}

#dialog1 .d-header input {
  position:relative;
  top:60px;
  left:100px;
  border:3px solid #cccccc;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}

#dialog1 .d-blank {
  float:left;
  background:url(images/login-blank.png) no-repeat 0 0 transparent; 
  width:267px; 
  height:53px;
}

#dialog1 .d-login {
  float:left;
  width:108px; 
  height:53px;
}

#boxes #dialog2 {
  background:url(images/notice.png) no-repeat 0 0 transparent; 
  width:326px; 
  height:229px;
  padding:50px 0 20px 25px;
}
html body div#boxes div#dialog.window p.modal_p{
    font-size: 18px;
    text-align: center;
}
html body div#boxes div#dialog.window select.modal_select{
    width: 200px;
    border: solid 1px #000;
}
.news_date{
    margin-top: -10px !important;
    font-size: 14px;
    margin-bottom: 10px !important;
    overflow: hidden;
    
}
.tvivoza{
    vertical-align:middle;width:310px!important;height:25px;padding:0px;border:1px solid #bcbcbc;font:12px Tahoma;color:#434343;
}

.sugg_box {
	display: none;
	width: 400px;
	list-style-type: none;
	margin: 0px;
	margin-top: 0px;
	padding-left: 5px;
	font-size: 10pt;
	border: 1px solid gray;
	color: black;
}
.sugg_box li:hover {
	background-color: #FFD;
	cursor: pointer;
	text-decoration:underline;
}

.txt {
	width: 150px;
	border: 1px solid gray;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0px;
	height: 24px;
}  

        .search_area{
            width: 670px;
            margin: 0px;
            position: relative;
        }
 
        #search_box{
            width:550px;
            padding:0 15px;
            margin:1px;
        }
 
        #search_advice_wrapper{
            display:none;
            width: 350px;
            background-color: rgb(135, 206, 250);
            color: rgb(255, 227, 189);
            -moz-opacity: 0.95;
            opacity: 0.95;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
            filter:alpha(opacity=95);
            z-index:999;
            position: absolute;
            top: 24px; left: 0px;
        }
 
        #search_advice_wrapper .advice_variant{
            cursor: pointer;
            padding: 5px;
            text-align: left;
        }
        #search_advice_wrapper .advice_variant:hover{
            color:#FEFFBD;
            background-color: rgb(235, 235, 235);
        }
        #search_advice_wrapper .active{
            cursor: pointer;
            padding: 5px;
            color:#FEFFBD;
            background-color: rgb(235, 235, 235);
        }

.forma_ceni{float:left; width:205px; position:absolute; top:30px;}

