
.sugg_box {
	display: none;
	width: 100px;
	list-style-type: none;
	margin: 0px;
	margin-top: 0px;
	padding-left: 5px;
	font-size: 11pt;
	background-color: #FFEFD5;
	border: 2px solid gray;
	border-bottom-left-radius: 5;
	color: black;
}
.sugg_box li:hover {
	background-color: WHITE;
	cursor: pointer;
}

