/* CSS Document */
body {height:100%;font:12px/18px  Arial, Sans-Serif, Tahoma, Verdana;color:#000;background:#3d3d3d url(/img/bg-all.gif) repeat;}
div, html, body, p, ul, ol, a, form, table, td, h1, h2, h3, h4, h5 {margin:0;padding:0;} 
table {border-collapse:collapse;}
img {border:none;}  
ul, li {list-style:none;}  
a, a:active {text-decoration:none;color:#2e3841;}
a:visited {text-decoration:none;color:#2e3841;}    
a:hover {text-decoration:underline;/*color:#e65e05;*/}   
.clear {clear:both;}
/*  All  */
.wraper {position:relative;width:1000px;margin:0 auto;background:#fff;border-right:0px solid #cfcfcf;border-left:0px solid #cfcfcf;}
.clear {clear:both;font-size:0;line-height:0;height:1px;}
.header {position:relative;height:154px;width:1000px;z-index:10;background:url(/img/header.gif) repeat-x #515151;}
.header .block1{float:left;}
.header .logo {float:left; padding-left:10px; margin-top:15px}
.header .logo a{ font-size:14px;font-weight:normal;}
.header .logo a:hover{text-decoration:none;color:#000}
.top_menu_block {}

.h-menu{ float:left; padding-top:3px; padding-left:20px }
.h-menu td {padding-right:30px;}
.h-menu .rel a {text-decoration:none;color:#fff;}
.h-menu .rel a:active {text-decoration:none;color:#fff;}
.h-menu .rel a:visited {text-decoration:none;color:#fff;}
.h-menu .rel a:hover {text-decoration:underline;color:#fff;}

.h-menu .first0 {font-size:0;line-height:0;width:1px;padding:0;margin:0;}
.h-menu .last0 {font-size:0;line-height:0;width:1px;padding:0;margin:0;}

.header .block2_heder{ width:760px; float:left;margin-left:40px;margin-top:25px}
.header .top_text2 .text{float:left;width:460px;line-height:15px;color:#ababab; min-height: 40px;  }

.header .phone {float:left}
.header .phone .tel{font-size:14px;font-weight:bold; float:left;color:#b3b3b3; width:440px;margin-top:10px; height:37px}
.header .phone span{float:left; margin-top:10px;}
.header .phone span em {font-size:6px;}
.header .pic_menu { float:left; padding-top:6px}
.header .pic_menu li {font-size:0;line-height:0;float:left;width:13px;height:13px;padding:0 55px 0 20px;}
.header .pic_menu li a, .header .pic_menu li a:visited {display:block;cursor:pointer;width:13px;height:13px;color:#fff;}
.header .pic_menu li a.home, .header .pic_menu li a.home:visited {background:url(/img/home.gif) center top no-repeat;}
.header .pic_menu li.active a.home, .header .pic_menu li.active a.home:visited, .header .pic_menu li a.home:hover {background:url(/img/home.gif) center top no-repeat;}
.header .pic_menu li a.email, .header .pic_menu li a.email:visited {background:url(/img/add-to-favorites.gif) center top no-repeat;}
.header .pic_menu li.active a.email, .header .pic_menu li.active a.email:visited, .header .pic_menu li a.email:hover {background:url(/img/add-to-favorites.gif) center top no-repeat;}
.header .pic_menu li a.sitemap, .header .pic_menu li a.sitemap:visited {background:url(/img/sitemap.gif) center top no-repeat;}
.header .pic_menu li.active a.sitemap, .header .pic_menu li.active a.sitemap:visited, .header .pic_menu li a.sitemap:hover {background:url(/img/sitemap.gif) center top no-repeat;}


.header .busket_block {float:right;width:250px;}
.header .busket_block p {color:#8d8d8d;}
.header .busket_block p a, .header .busket_block p a:visited {font-weight:bold;font-size:14px; color:#a1a1a1; text-decoration: none;}
.header .busket_block p span#find-text {font-weight:bold;font-size:14px; color:#444444; text-decoration: none;}
.busket_block p a:hover {font-size:14px; color:#000000;text-decoration: underline;}

.header .login_block {position:absolute;top:3px;right:10px;}
.header .login_block span {padding:0 6px;}

.header .search_block { height: 36px; float:left; width:249px; background: url(/img/search-header.gif) no-repeat;margin-left:66px }
.header .search_block p{padding-top: 7px; padding-left:10px}
.header .search_block img {vertical-align:middle; }
.header .search_block input {vertical-align:middle;width:200px;height:18px;border:none;border-top:1px solid #aaadb2;border-bottom:1px solid #e2e9ef;font:11px/18px Arial;color:#666;}
.header .search_block input.button {width:21px;height:20px;border:none;margin-left:4px;}

.reg_vxod{ float:left; width:160px;padding-top:3px; padding-left:315px; color:#FFF}
.reg_vxod a{text-decoration:none; color:#FFF}
.reg_vxod span{padding:0 3px}
.reg_vxod a:hover{text-decoration:underline;color:#fff;}

.top_bnr {height:65px;padding:2px 0 0 0;text-align:left;background: url(/img/bg-bann.gif) #494949;font-size:0;line-height:0;}

.top_bnr span#left {margin-left: 10px;}
.top_bnr span#right {margin-left: 45px;}
.top_bnr1  {margin-bottom: 15px; height: 10px; border: 1px solid;}

.pager {color:#999999;padding:10px 0 14px 20px;font-style:italic;}
.pager a, .pager a:visited {color:#676666;}
.pager a:hover {color:#e24304;}   
.pager span {padding:0 2px;}

.columns_wrap {float:left;width:1000px; background: #fff;}

.left_column {float:left;width:215px;padding:0 20px 20px 10px;}
.left_column h2 {font-size:16px;font-weight:normal;padding:0 0 6px 0;}
.left_column .title-header {width:202px; height: 36px; background: url(/img/menu-header.gif) no-repeat; text-align: center; margin-bottom: 10px;} 
.left_column .title-header h2 {padding-top:3px;color:#fff}
.left_column .title-header h2 a{color: #fff; text-decoration:none;}
.left_column .title-header h2 a:active{color: #fff; text-decoration:none;}
.left_column .title-header h2 a:hover {text-decoration:underline; color: #fff;}
.left_column h3 {font-weight: normal;}
.left_column ul.left_menu {margin-left: 10px;}
.left_column ul.left_menu li {line-height:17px;} 
.left_column ul.left_menu li h3 {font-size:12px;color:#2e3841; font-weight: bold;}
.left_column ul.left_menu li ul {padding-bottom:7px;}
.left_column ul.left_menu li ul li {padding:0 0 0 10px;}
.left_column .banner {padding-top:20px;}

.right_column {float:left;width:740px;padding:0 0 20px 0;}
.right_column .main-content img.left {margin: 5px 10px 10px 0; float: left;}
.right_column .main-content img.right {margin: 0 0 0 10px; float: right;}

.right_column a {text-decoration:none;color:#1b1e21; font:1.1em Arial, Sans-Serif, Tahoma, Verdana;}
.right_column a:active {text-decoration:none;color:#1b1e21;  font:1.1em Arial, Sans-Serif, Tahoma, Verdana;}
.right_column a:visited {text-decoration:none;color:#1b1e21;  font:1.1em Arial, Sans-Serif, Tahoma, Verdana;}    
.right_column a:hover {text-decoration:underline;color:#1b1e21; font:1.1em Arial, Sans-Serif, Tahoma, Verdana;}   
.right_column  tr.delivery {display: none;}
.right_column .center {text-align:center;}
.right_column h1 {font-size:24px;font-weight:normal;padding-bottom:9px;line-height:24px;}
.right_column h2 {font-size:16px;font-weight:bold;padding-bottom:9px;}
.right_column h3 {font-size:14px;font-weight:normal;padding-bottom:9px;}
.right_column h4 {font-size:12px;font-weight:normal;padding-bottom:9px;}
.right_column p {padding:0 10px 9px 0;}
.right_column p img.float_left {margin:20px 23px 20px 0;float:left;}
.right_column ul {padding:0 0 9px 0;}
.right_column ul li {background:url(/img/dot.gif) 0 10px no-repeat;padding:2px 0 0 7px;}
.right_column ul li ul {padding:0 0 3px 23px;}
.right_column ul.number_list {padding:0 0 9px 0;list-style-type:decimal;}
.right_column ul.number_list li {background:none;padding:2px 0 0 7px;margin-left:17px;list-style-type:decimal;}
.right_column ul.number_list li ul li {margin-left:0;}
.right_column input.button {vertical-align:middle;color:#424242;font:bold 12px Arial;width:127px;height:25px;background:url(/img/button2.gif) no-repeat;border:none;padding-bottom:0px;}
.right_column input.button2 {vertical-align:middle;width:157px;color:#fff;font:bold 12px Arial;border:none;height:24px;background:url(/img/button.gif) no-repeat;padding-bottom:0px;}
.right_column input.notactive {color:#939393;}
.right_column table {width:98%;margin-bottom:20px;}
.right_column table th {padding:6px 4px;text-align:left;font-weight:normal;color:#2e3841;border-bottom:1px solid #e5e5e5;}
.right_column table th.center, .right_column table td.center {text-align:center;}
.right_column table th.right, .right_column table td.right {text-align:right;}
.right_column table td {padding:6px 4px;}
.right_column table td input {width:158px;border:1px solid #e2e9ef;border-top:1px solid #aaadb2;}
.right_column table td select {width:158px;border:1px solid #e2e9ef;border-top:1px solid #aaadb2;}

.right_column .news_list ul {padding:0 0 5px 0;}
.right_column .news_list ul li {padding:0 15px 20px 0;background:none;}
.right_column .news_list ul li span {font-size:14px;color:#354234;}
.right_column .news_list ul li img {float:left;margin-right:24px;}
.right_column .news_list ul li a, .right_column .news_list ul li a:visited {color:#1d79c7;}
.right_column .news_list ul li a:hover {color:#e24304;}
.non{list-style:none}

.right_column .goods_list ul {padding:0;}
.right_column .goods_list ul li {float:left;width:210px;padding:0 35px 0px 0;background:none; }
.right_column .goods_list ul li.block p span.right a, .right_column .goods_list ul li.li-group p span.right a:hover, .right_column .goods_list ul li.li-group p span.right a:visited {font-weight: normal;}
.right_column .goods_list ul li .img {position:relative;height:180px;font-size:0;line-height:0;}
.right_column .goods_list ul li .img img.png {position:absolute;top:0;left:0;}
.right_column .goods_list ul li p {padding:0 0 5px 0;position:relative;width:210px;}
.right_column .goods_list ul li p.desc {padding:4px 0;}
.right_column .goods_list ul li p span {color:#707070;}

.right_column .goods_list ul li p span.left {display:block;float:left;width:47px;}
.right_column .goods_list ul li p span.right a, .right_column .goods_list ul li p span.right a:hover, .right_column .goods_list ul li p span.right a:visited {font-weight: bold}
.right_column .goods_list ul li p span.right a.black {color:#1b1e21; font-size:12px; font-weight: normal;}

.right_column .goods_list ul li p span.right {display:block;float:left;width:163px;}
.right_column .goods_list ul li p span.price {position:absolute;right:0;top:0;font-size:14px;text-decoration:line-through;color:#000;}
.right_column .goods_list ul li p span.eco {position:absolute;right:0;top:0;font-size:14px;color:#059d13;}
.right_column .goods_list ul li p span.newprice {position:absolute;right:0;top:0;font-size:22px;color:#d4440b;}
.right_column .goods_list ul li p.right {text-align:right;padding-top:6px;}
.right_column .goods_list ul li p.right input {cursor:pointer;}
.right_column .goods_list ul li p.right a, .right_column .goods_list ul li p.right a:visited {font-size:13px;font-style:italic;}

.right_column .goods_list ul li div a.buy, .right_column .goods_list ul li div a.buy:visited {font:bold 12px Arial;color:#ffffff;cursor:pointer;width:92px;height:24px;padding-top:4px;display:block;text-align:center;background:url(/img/buy.gif) no-repeat;float:right;text-decoration: none;}
.right_column .goods_list ul li p.right img {vertical-align:middle;margin-right:5px;}

.right_column .pager_right {text-align:center;color:#1d79c7;font-size:16px;padding:15px 0;}
.right_column .pager_right a, .right_column .pager_right a:visited {margin:0 5px;}

.right_column .pager_right {text-align:center;color:#1d79c7;font-size:16px;padding:15px 0;}
.right_column .pager_right a, .right_column .pager_right a:visited {margin:0 5px;}
.right_column .pager_right span {color:#fff;background:#0f71a4;padding:4px 9px; background: url(/img/pager-right-bg.gif); font-weight: bold;}


.right_column .sort_block {color:#999;padding:8px 0;line-height:26px;}
.right_column .sort_block div {float: left; }
.right_column .sort_block div.text {margin-right: 10px;}
.right_column .sort_block a, .right_column .sort_block a:visited {margin:0 5px;}
.right_column .sort_block span {color:#fff; }
.right_column .sort_block span div {float: left;}
.right_column .sort_block span div.left {width: 3px; height: 28px; background: url(/img/plash-left.gif);}
.right_column .sort_block span div.center {background:#fb7201 url(/img/plash-bg.gif) repeat-x; height: 28px;padding:0 4px 0 4px;}
.right_column .sort_block span div.right {width: 3px; height: 28px; background: url(/img/plash-right.gif);}


.right_column .goods_full h2 {border-top:1px solid #e5e5e5;padding-top:4px;}
.right_column .goods_full h2 span {color:#898989;font-size:12px;}

.right_column .goods_full h3 a, .right_column .goods_full h3 a:hover, .right_column .goods_full h3 a:visited {color:#000; text-decoration:none; font:16px Arial, Sans-Serif, Tahoma, Verdana;}

.right_column .goods_full .mainimg {position:relative;float:left;width:420px;padding:0 28px 0 0;height:465px;}
.right_column .goods_full .mainimg .d3 {position:absolute;top:425px;left:126px;}
.right_column .goods_full .mainimg .d3 a.link {position:absolute;top:15px;left:50px;}
.right_column .goods_full .mainimg img.png {position:absolute;top:0;left:0;}
.right_column .goods_full .mainimg img.plus {top:6px;left:400px;}
.right_column .goods_full .desc_right {float:left;width:292px;}
.right_column .goods_full .desc_right p {padding:4px 0;position:relative;width:295px;}
.right_column .goods_full .desc_right p.pr {padding:0;}
.right_column .goods_full .desc_right p.pr span {color:#000;font-size:14px;}
.right_column .goods_full .desc_right p span {color:#707070;}
.right_column .goods_full .desc_right p a.black, .right_column .goods_full .desc_right p a.black:visited {color:#000;}
.right_column .goods_full .desc_right p a.black:hover {color:#e24304;}
.right_column .goods_full .desc_right p span.left {display:block;float:left;width:120px;}
.right_column .goods_full .desc_right p span.right {display:block;float:left;width:175px;color:#000;}
.right_column .goods_full .desc_right p span.price {position:absolute;right:0;top:0;font-size:14px;text-decoration:line-through;color:#000;}
.right_column .goods_full .desc_right p span.eco {position:absolute;right:0;top:0;font-size:14px;color:#498e35;}
.right_column .goods_full .desc_right p span.newprice {position:absolute;right:0;top:0;font-size:22px;color:#d4440b;}
.right_column .goods_full .desc_right p.right {text-align:right;padding-top:6px;}
.right_column .goods_full .desc_right div a, .right_column .goods_full .desc_right div a:visited {font:bold 12px Arial;color:#fff;cursor:pointer;width:92px;height:24px;padding-top:4px;display:block;text-align:center;background:url(/img/buy.gif) no-repeat;float:right;}
.right_column .goods_full .desc_right p.right img {vertical-align:middle;margin-right:5px;}
.right_column .goods_full .desc_right table {width:auto;margin:0;} 
.right_column .goods_full .desc_right table td {padding:3px 0;color:#000;vertical-align:top;}
.right_column .goods_full .desc_right table td.name {width:120px;color:#707070;}
.right_column .goods_full .details_list {padding-bottom:20px;}
.right_column .goods_full .details_list ul {padding:0;}
.right_column .goods_full .details_list ul li {font-size:0;line-height:0;float:left;padding:0 5px 10px 0;background:none;}
.right_column .goods_full .details_list ul li a img {border:1px solid #fff;}
.right_column .goods_full .details_list ul li a:hover img {border:1px solid #e24304;}
.right_column .goods_full .complekt_list {padding-bottom:20px;}
.right_column .goods_full .complekt_list ul {padding:0;}
.right_column .goods_full .complekt_list ul li {float:left;padding:0 7px 10px 0;width:100px;background:none;line-height:12px;min-height:160px;}
.right_column .goods_full .comment_block table {width:auto;margin:0;}
.right_column .goods_full .comment_block table td {vertical-align:top;font-size:14px;padding:7px 18px 7px 0;}
.right_column .goods_full .comment_block table td input {width:350px;border:1px solid #e2e9ef;border-top:1px solid #aaadb2;}
.right_column .goods_full .comment_block table td textarea {width:350px;border:1px solid #e2e9ef;border-top:1px solid #aaadb2;height:120px;}
.right_column .goods_full .comment_block table td input.small {width:160px;}
.right_column .goods_full .comment_block table td p input.small {width:120px;border:1px solid #d0d0d0;}
.right_column .goods_full .comment_block table td p {color:#666;font-size:12px;padding:0 0 3px 0;}
.right_column .goods_full .comment_block table td p img {margin-top:15px;}
.right_column .goods_full .comment_block table td p a img {margin-right:2px;vertical-align:middle;margin-top:0;}
.right_column .goods_full .comment_block table td p span {color:#acacac;font:10px Arial;}
.right_column .goods_full .comment_block table td p input.button2 {width:158px;border:none;}
.right_column .goods_full .feedback_list ul {padding:0 13px 0 0;}
.right_column .goods_full .feedback_list ul li {padding:0;border-bottom:1px solid #e5e5e5;background:none;margin-bottom:6px;}
.right_column .goods_full .feedback_list ul li.last {border-bottom:none;}
.right_column .goods_full .feedback_list ul li p {font-size:11px;padding:0 7px 12px 0;line-height:14px;}
.right_column .goods_full .feedback_list ul li p span {font-size:13px;}
.right_column .goods_full .feedback_list ul li p span.date {font-size:10px;color:#959595;}
.right_column .goods_full .feedback_list ul li p.right {text-align:right;font-style:italic;padding-bottom:6px;}

.right_column .order_history table tr:hover {background:#fffde1;}
.right_column .order_history table tr.hnone:hover {background:none;}
.right_column .order_history table td a, .right_column .order_history table td a:visited {color:#000;}
.right_column .order_history table td a:hover {color:#0042b2;}
.right_column .order_history table td {vertical-align:top;}
.right_column .order_history table td.neoplachen {color:#000000;}
.right_column .order_history table td.oplachen {color:#ea7125;}
.right_column .order_history table td.done {color:#55a51c;}
.right_column .order_history table td.bron {color:#6d19bb;}
.right_column .order_history table td.avans {color:#0ecae6;}

.right_column .order_review table {width:auto;margin:0 0 0 15px;}
.right_column .order_review table td {padding:2px 0;}
.right_column .order_review table td.width {width:80px;color:#898989;}
.right_column .order_review table td input {width:60px;}
.right_column .order_review table td select {width:107px;border:1px solid #e2e9ef;border-top:1px solid #aaadb2;}
.right_column .order_review table td.buttons {padding-top:30px;}
.right_column .order_review table td.buttons input {font:12px Arial;color:#767676;background:url(/img/input2.gif) no-repeat;border:none;width:110px;height:22px;margin-right:8px;padding-bottom:4px;}
.right_column .order_review table td.buttons input.button {vertical-align:middle;color:#424242;font:12px Arial;width:127px;height:26px;background:url(/img/button2.gif) no-repeat;border:none;padding-bottom:3px;}
.right_column .order_review .w_del {background:#f5f5f5;padding:15px 0;margin:0 12px 20px 0;}
.right_column .order_review .w_del p {position:relative;font-size:20px;color:#acacac;padding:0 0 30px 95px;width:643px;}
.right_column .order_review .w_del p a, .right_column .order_review .w_del p a:visited {color:#000;text-decoration:none;}
.right_column .order_review .w_del p a:hover {color:#e24304;}
.right_column .order_review .w_del p input {position:absolute;top:0;right:10px;font:12px Arial;color:#000;background:url(/img/input.gif) no-repeat;border:none;width:110px;height:22px;padding-bottom:4px;}
.right_column .order_review .send {border-top:1px solid #cecece;padding:11px 0 11px 503px;margin:14px 10px 14px 0;}
.right_column .order_review .send input {font:12px Arial;color:#000;background:url(/img/input3.gif) no-repeat;border:none;width:138px;height:34px;padding-right:15px;padding-bottom:4px;}

.right_column .make_order p {font-size:14px;padding:15px 0 5px 75px;}
.right_column .make_order table {width:auto;margin:0 0 0 75px;}
.right_column .make_order table td {vertical-align:top;font-size:16px;color:#666;padding:7px 33px 7px 0;}
.right_column .make_order table td span {font-size:12px;color:#000;}
.right_column .make_order table td input {vertical-align:middle;width:158px; color: #000;}
.right_column .make_order table td select {vertical-align:middle;width:158px;border:1px solid #e2e9ef;border-top:1px solid #aaadb2;margin:3px 0; }
.right_column .make_order table td input.radio {width:auto;height:auto;border:none;}
 
.right_column .news_archive ul {padding:0 0 5px 0;width:620px;}
.right_column .news_archive ul li img.left {float: left; margin-right: 10px; }
.right_column .news_archive ul li span {font-size:14px;color:#696969;}

.right_column .news_archive ul li a, .right_column .news_archive ul li a:visited {color:#e65e05; font-weight: bold;}
.right_column .news_archive ul li a:hover {color:#e24304;}
.right_column .news_archive ul li .links {padding:17px 0;position:relative;}
.right_column .news_archive ul li .links span {font-size:12px;position:absolute;right:0;}

.right_column .basket_block table td {vertical-align:top;font-size:14px;}
.right_column .basket_block table td input {width:34px;}
.right_column .basket_block table td.delete {padding:10px 4px 6px 20px;}
.right_column .basket_block table td.delete a, .right_column .basket_block table td.delete a:visited {display:block;width:11px;height:11px;font-size:0;line-height:0;color:#fff;text-decoration:none;background:url(/img/delete.gif) no-repeat;}
.right_column .basket_block table td.delete a:hover {background:url(/img/delete2.gif) no-repeat;}
.right_column .basket_block table td.deleted {color:#c2c2c2;}
.right_column .basket_block table td.deleted a, .right_column .basket_block table td.deleted a:visited {color:#c2c2c2;text-decoration:none;}
.right_column .basket_block table td.deleted input {color:#999;border:1px solid #e7e7e7;}
.right_column .basket_block table td.back {font:12px Arial;padding-left:14px;background:url(/img/arrow2.gif) 0 10px no-repeat;}
.right_column .basket_block table td.back a, .right_column .basket_block table td.back a:visited {border-bottom:1px dotted #0042b2;text-decoration:none;}
.right_column .basket_block .send {border-top:1px solid #7f7f7f;padding:11px 0 11px 0;margin:0 16px 14px 0;}
.right_column .basket_block .send p {padding:0 0 30px 0;position:relative;}
.right_column .basket_block .send p a, .right_column .basket_block .send p a:visited {border-bottom:1px dotted #0042b2;text-decoration:none;}
.right_column .basket_block .send p a {border-bottom:1px dotted #000000;text-decoration:none; color:#000000;}
.right_column .basket_block .send p a:active {border-bottom:1px dotted #000000;text-decoration:none; color:#000000;}
.right_column .basket_block .send p a:visited {border-bottom:1px dotted #000000;text-decoration:none; color:#000000;}
.right_column .basket_block .send p a:hover {border-bottom:1px dotted #0042b2;text-decoration:none; color:#1d79c7;}


.right_column .basket_block .send p span {font-size:18px;position:absolute;top:0;left:563px;}
.right_column .basket_block .send input {font:bold 12px Arial;color:#fff;background:url(/img/input3.gif) no-repeat;border:none;width:140px;height:24px;padding-right:15px;margin-left:566px;padding-bottom:4px;}

.right_column .popular_goods_list ul {padding:0;}
.right_column .popular_goods_list ul li {width:745px;padding:0 0 15px 0;background:none;}
.right_column .popular_goods_list ul li .img {float:left;width:185px;position:relative;font-size:0;line-height:0;}
.right_column .popular_goods_list ul li .img img.png {position:absolute;top:0;left:0;}
.right_column .popular_goods_list ul li .info_desc {float:left;width:360px;}
.right_column .popular_goods_list ul li .info_price {float:left;width:200px;}
.right_column .popular_goods_list ul li p {padding:0;position:relative;width:350px;}
.right_column .popular_goods_list ul li .info_price p {padding:2px 0;width:200px;}

.right_column .popular_goods_list ul li p.desc {padding:4px 0 0 10px;} 
.right_column .popular_goods_list ul li p span {color:#707070;}
.right_column .popular_goods_list ul li p a.black, .right_column .popular_goods_list ul li p a.black:visited {color:#000;}
.right_column .popular_goods_list ul li p span.left {display:block;float:left;width:47px;}
.right_column .popular_goods_list ul li p span.right {display:block;float:left;width:303px;}
.right_column .popular_goods_list ul li p span.price {position:absolute;right:0;top:0;font-size:14px;text-decoration:line-through;color:#000;}
.right_column .popular_goods_list ul li p span.eco {position:absolute;right:0;top:0;font-size:14px;color:#498e35;}
.right_column .popular_goods_list ul li p span.newprice {position:absolute;right:0;top:0;font-size:18px;color:#e24304;}
.right_column .popular_goods_list ul li p span.number {position:absolute;right:0;top:0;color:#707070;}
.right_column .popular_goods_list ul li p span.number input {width:32px;border:1px solid #e2e9ef;border-top:1px solid #aaadb2;}
.right_column .popular_goods_list ul li p.right {text-align:right;padding-top:6px;}
.right_column .popular_goods_list ul li p.right input {cursor:pointer;}
.right_column .popular_goods_list ul li p.right a, .right_column .popular_goods_list ul li p.right a:visited {font-size:14px;font-style:italic;}
.right_column .popular_goods_list ul li div a.buy, .right_column .popular_goods_list ul li div a.buy:visited {font:bold 12px Arial;color:#fff;cursor:pointer;width:112px;height:27px;padding-top:4px;display:block;text-align:center;background:url(/img/buy.gif) no-repeat;float:right;}
.right_column .popular_goods_list ul li p.right img {vertical-align:middle;margin-right:5px;}

.footer {clear:both;width:1000px;height:199px;position:relative;}
.footer .footer-line {background: url(/img/footer-line.gif) repeat-x; height: 18px;}
.footer .left {float:left;width:215px;padding:0 10px 10px 20px;}
.footer .left .div-logo {float: left; width: 88px;}
.footer .left p {font-size:11px;padding:7px 0 0 0;line-height:18px;}
.footer .left div {font-size:11px;padding:0 0 0 0;line-height:18px;}
.footer .left p span {color:#acacac;line-height:21px;}
.footer .left div span {line-height:21px;}
.footer .left p span.size {color:#000;line-height:18px;font-size:12px;}
.footer .left p img {margin-bottom:4px; float:left; padding-right: 30px;}
.footer .left .adress {width: 100px; float:left; margin-left: 15px;}
.footer .left p.cs {font-size:12px;line-height:15px;color:#666;padding:20px 0 0 50px;}
.footer img.bingo {padding-left: 50px;}
.footer .left p.cs a, .footer .left p.cs a:visited {color:#666;text-decoration:none;width:77px;font-weight:bold;}
.footer .right {float:left;width:755px;padding:0 0 0 0;}
.footer .right p {font-size:11px;color:#c4c4c4;padding:7px 0 0 0;line-height:16px;}
.footer .right p.partner {font-size:12px;color:#000;padding:26px 0 0 0;}
.footer .right ul li {font-size:0;line-height:0;float:left;padding:3px 6px 0 0;}
.footer .clear {font-size:0;line-height:0;clear:both;height:1px;}
.right_column .news_archive ul li{padding:0 15px 20px 0;background:none;text-align:justify;list-style:none; }
.right_column .news_archive ul #non{list-style-type:none}

.goods-length {border: 1px solid #aaadb2; width: 55px; height: 18px; background-color: #fff; font: italic 12px Arial ;}

#f-back .ft { width: 265px; float: left; font: normal 12px Tahoma; color: #6f7070; margin: 0 0 5px 0; }
#f-back .ftr { width: 258px; float: left; font: normal 12px Tahoma; color: #6f7070; padding: 0 0 0 21px; margin: 0 0 5px 0; }
#f-back .fr { width: 544px; margin: 5px 0 0 0; }
#f-back .fr-req { width: 300px; float: left; }
#f-back .fr-butt { width: 244px; text-align: right; float: left; }

#f-back .f-txt { width: 258px; border: 1px solid #d0d0d0; background: #fff; }
#f-back .f-tarea { width: 544px; border: 1px solid #d0d0d0; background: #fff; }
#f-back .f-subm { width: 175px; height: 21px; font: bold 12px Tahoma; color: #fff; background: #666; border: none; }

#f-back .ft span, #f-back .ftr span, #f-back .fr-req span { color: #666; }

#f-back .code { font: normal 12px Tahoma; color: #6f7070; margin: 10px 0 5px 0; }
#f-back .in-code { margin: 0 0 30px 0; }
#f-back .in-code input { height: 16px; line-height: 16px; padding: 0 1px; border: 1px solid #d0d0d0; font: 11px 'tahoma'; color: #687885; }
#f-back .code-img { float: left; margin: 0 15px 0 0; }
.light {background: #d4440b; color:#fff; font-weight: bold;}
.right_column .partisions_list li { background-image: none; list-style-type: decimal; margin-left: 20px}
.right_column table td input.admin-input-text {width:350px; } 
.white_line{  width:720px; background-color:#FFF; margin: 0; padding:10px 10px 10px 10px;  }
.grey_line{  width:720px; background-color:#EAEAEA; margin: 0;  padding:10px 10px 10px 10px;}
.left_menu li ul li a.active{
    color: #E65E05;
}
.plsh div a:hover{color: #E65E05;}