* { 
	font-family: "PT Sans"; 
}
h1 {
	margin: 15px 0 0 0;
	padding: 0;
}
h2 {
	margin: 0px 0 10px 0;
	padding: 0;
}
body { 
	padding: 0; 
	font-size: 13px; 
}
#content { 
	width: 711px; 
	margin: 0 auto; 
}
#footer { 
	position: fixed; 
	left: 0; 
	bottom: 0; 
	padding: 10px; 
	background: #f9f9f9; 
	width: 100%; 
}
#footer, #footer * { 
	color: #aaa; 
}
dir { 
	background: #ffe; 
	padding: 3px 15px; 
	border: 1px solid #FBFAE6; 
	border-radius: 2px;
}
.lft {
	float: left; 
	width: 25%; 
	font-size: 18px;
	margin: 3px 0 0 0;
	font-weight: bold;
	line-height: 90%;
	text-align: right;
}
.rgt { 
	margin: 0 0 15px 30%;
	border-bottom: 1px dotted #aaa;
}
p {
	padding: 0;
	margin: 0 0 10px 0;
}
.clear { 
	clear: both; 
}
.product-line {
	margin: 0 auto;
}
.product-line .bm_good {
	width: 220px; 
	height: 360px;
	margin: 0 15px 15px 0;
	position: relative;
	vertical-align: baseline;
	float: left;
	border-radius: 5px;
	border: 1px solid #b5c2c9;
}
.b1c_name {
	color: #00547e;
	text-decoration: underline;
	height: 35px;
	margin: 5px 3px 5px 10px;
}
.b1c_price {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.b1c_img {
	width: 220px;
	overflow: hidden;
}
.b1c_img img {
	display: block;
	margin: 0 auto;
	max-width: 200px;
	max-height: 200px;
}
.b1c_buy {
	margin: 5px 0 5px 0;
	text-align: center;
}
.b1c_params {
	overflow: hidden;
	margin: 3px 0 0 0;
}
.b1c_params span {
	width: 45%;
	margin: 2px 0 0 12px;
	display: block;
	float: left;
}
.b1c_params select {
	width: 40%;
}