<!-- BDP: banners -->

 <div class="order_history">
   <table>
   <tr>
   <td colspan="4">
   <a title="Добавить графический баннер" href="/admin/addbannerimg/"><img border="0" alt="Добавить графический" src="/img/admin_icons/add_page.png">Добавить графический баннер</a>
   <a title="Добавить НТML код" href="/admin/addbannerhtml/"><img border="0" alt="Добавить НТML код" src="/img/admin_icons/add_page.png">Добавить НТML код</a>
   </td>
   </tr>
    <tr class="hnone">     
     <th>Название</th>    
     <th>Расположение на сайте</th>
     <th>Тип</th>
     <th>Статус</th>
     <th></th>
     
    </tr>
    <!-- BDP: banners_list -->
    <tr>
     <td>{BANNER_NAME}</td>
     <td>{BANNER_LAYOUT}</td>   
     <td>{BANNER_TYPE}</td> 
     <td>{BANNER_SHOW_AS}</td>
     
     <td>
     	<a title="Редактировать баннер" href="/admin/editbanner{ADM_TYPE}/{BANNER_ID}"><img width="12" height="12" alt="Редактировать баннер" src="/img/admin_icons/edit.png"></a>
     	
     	<a onclick="return confirm('Вы уверены что хотите удалить баннер?'); return false;" title="Удалить банер" href="/admin/deletebanner/{BANNER_ID}"><img width="12" height="12" alt="Удалить баннер" src="/img/admin_icons/delete.png"></a>
     	</td>
       
    </tr>
    <!-- EDP: banners_list -->
    
   </table>
  </div>
  
  <!-- BDP: banners_empty -->
  Нет данных
  <!-- EDP: banners_empty -->
  
<!-- EDP: banners -->
