<!-- BDP: delivery -->
<div>
<a href="/admin/adddelivery/" title="Добавить службу доставки"><img src="/img/admin_icons/add_page.png" border="0" alt="Добавить службу доставки"></a>
</div>

<div class="order_history">
	
	<table>
	<tr>
	<th>Название службы</th>
	<th colspan="2">Статус</th>
	</tr>
	
	<tr>

	</tr>
	
	
	<!-- BDP: delivery_item -->
		<tr>
		<td><b>{NAME}</b></td>
		<td>{VISIBLE}</td>
		<td>			
			<a href="/admin/editdelivery/{ID}" title="Редактировать"><img src="/img/admin_icons/edit.png" width="12" height="12"></a>
			<a href="/admin/deletedelivery/{ID}" title="Удалить" onClick="return confirm('Вы уверены что хотите удалить?'); return false;"><img src="/img/admin_icons/delete.png" width="12" height="12"></a>  
		</td>
	
		</tr>
	<!-- EDP: delivery_item -->
	
	
	
	</table>
	
</div>
	
<!-- EDP: delivery -->