<!-- BDP: poll -->

 <div class="order_history">
   <table>
   <tr>
   <td colspan="4">
   <a title="Добавить опрос" href="/admin/addPoll/"><img border="0" alt="Добавить опрос" src="/img/admin_icons/add_page.png">Добавить опрос</a>
   </td>
   </tr>
    <tr class="hnone">     
     <th>№ п.п.</th>    
     <th>Название</th>    
     <th>Статус</th>
     <th></th>
     
    </tr>
    <!-- BDP: poll_list -->
    <tr>
     <td>{POLL_NO}</td>
     <td>{POLL_NAME}</td>   
     <td>{POLL_STATUS}</td> 
     
     
    <td>
    <a title="Редактировать опрос" href="/admin/editPoll/{POLL_ID}"><img width="12" height="12" alt="Редактировать опрос" src="/img/admin_icons/edit.png"></a>
    <a onclick="return confirm('Вы уверены что хотите удалить опрос?'); return false;" title="Удалить опрос" href="/admin/deletePoll/{POLL_ID}"><img width="12" height="12" alt="Удалить опрос" src="/img/admin_icons/delete.png"></a>
    </td>
       
    </tr>
    <!-- EDP: poll_list -->
    
   </table>
  </div>
  
  <!-- BDP: poll_empty -->
  Нет данных
  <!-- EDP: poll_empty -->
  
<!-- EDP: poll -->
