﻿<!-- BDP: sectiontext -->



<table border="0" >
	<tr><td><b>Имя</b></td><td></td></tr>
	<tr><td colspan="2"><div class="c_sep_h"><div><img src="/img/z.gif" width="1px" height="1px" alt=""></div></div></td></tr>
	<!-- BDP: section_list -->
	<tr><td>{TEXT}</td><td align="right">{ADM}</td></tr>
	<!-- EDP: section_list -->
</table>
<!-- EDP: sectiontext -->