.b1c_back {
	display: none;
	z-index: 108;
	opacity: 0.5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #333;
}

#b1c {
	display: block;
	margin: 0 auto;
}

#b1c, .b1c {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	color: #fff;
	padding: 3px 15px 4px 15px;
	font-size: 13px;
	border-radius: 5px;
	cursor: pointer; 
	background: #1a457d;
	background-image: linear-gradient(bottom, #1a457d 0%, #50719c 100%);
	background-image: -o-linear-gradient(bottom, #1a457d 0%, #50719c 100%);
	background-image: -moz-linear-gradient(bottom, #1a457d 0%, #50719c 100%);
	background-image: -webkit-linear-gradient(bottom, #1a457d 0%, #50719c 100%);
	background-image: -ms-linear-gradient(bottom, #1a457d 0%, #50719c 100%);
	background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, #1a457d), color-stop(1, #50719c) );
	border: 1px solid #143d73;
	border-top: 1px solid #8da2be;
	text-shadow: 0 -1px 0 #1a457d;
	box-shadow: 0 -1px 0 #143d73, 0 1px 1px #eee;
}

#b1c:hover, .b1c:hover {
	background: #4e6f9b;
	background-image: linear-gradient(bottom, #4e6f9b 0%, #7891b3 100%);
	background-image: -o-linear-gradient(bottom, #4e6f9b 0%, #7891b3 100%);
	background-image: -moz-linear-gradient(bottom, #4e6f9b 0%, #7891b3 100%);
	background-image: -webkit-linear-gradient(bottom, #4e6f9b 0%, #7891b3 100%);
	background-image: -ms-linear-gradient(bottom, #4e6f9b 0%, #7891b3 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4e6f9b), color-stop(1, #7891b3) );
	border: 1px solid #4e6f9b;
	border-top: 1px solid #a7b7cd;
	text-shadow: 0 -1px 0 #4e6f9b;
	box-shadow: 0 -1px 0 #4e6f9b, 0 1px 1px #eee;	
}

#b1c_request { margin: 15px 0 0 0; }

.b1c_close {
	float: right;
	padding: 5px 5px 0 0;
	background: url(close.png) no-repeat;
	text-decoration: none;
	width: 15px;
	height: 15px;
	margin: 2px 5px 0 0;
	cursor: pointer;
	box-shadow: 0 1px 0 #1a457d;
}

.b1c_form {
	text-align: left;
	height: auto;
	position: fixed;
	*position: absolute;
	margin: 0 auto;
	background: #fff;
	top: 15%;
	left: 35%;
	width: 350px;
	z-index: 110;
	display: none;
	border-radius: 3px;
	box-shadow: 0 0 50px #444;
}

.b1c_form_inside {
	background: #fff;
	padding: 10px;
	border-radius: 7px 0;
}

.b1c_tl {
	box-shadow: 0 -1px 0 #7eb1f3;
	overflow: hidden;
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid #00547e;
	background: #1a457d;
	background-image: linear-gradient(bottom, #1a457d 0%, #50719c 100%);
	background-image: -o-linear-gradient(bottom, #1a457d 0%, #50719c 100%);
	background-image: -moz-linear-gradient(bottom, #1a457d 0%, #50719c 100%);
	background-image: -webkit-linear-gradient(bottom, #1a457d 0%, #50719c 100%);
	background-image: -ms-linear-gradient(bottom, #1a457d 0%, #50719c 100%);
	background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, #1a457d), color-stop(1, #50719c) );
	color: #fff;
	text-shadow: 0 -1px 0 #333;
	font-size: 13px;
	margin: 0;
	padding: 14px 0 7px 10px;
}

.b1c_tl img {
	float: right;
	margin: 1px 5px 0 0;
	cursor: pointer;
}

.b1c_sign {
	background: #F3F0EB;
	border: 1px solid #ccd1da;
	border-radius: 2px;
	width: 97%;
	color: #4b5362;
	font-size: 12px;
	padding: 5px 5px !important;
	margin: 5px 0 10px 0;
}

#b1c_cr {
	float: right;
	margin: 8px 0 0 0;
	position: absolute;
	right: 10px;
}

#b1c_cr, #b1c_cr * {
	font-size: 9px;
	color: #bcbcbc;	
}

/* RESULTS */

.b1c_result {
	text-shadow: 0 1px 0 #eee;
	margin: 10px 0 0 0;
	clear:both;
	color: #4e4e4e;
}

.b1c_result div {
	margin: 5px 0;
	padding: 7px 0 7px 10px;
	border-radius: 3px;
	
}

.b1c_result .b1c_ok {
	border: 1px solid #007700;
	background: #c8ed9c;
}

.b1c_result .b1c_err {
	border: 1px solid #ffadad;
	background: #ffebeb;
}

.b1c_result .b1c_send {
	background: #fefefe url(loading.gif) 10px no-repeat;
	padding-left: 40px !important;
	border: 1px solid #eee;
}

@media screen and (max-device-width: 640px){
	.b1c_form {
		top: 0;
		left: 0;
		margin: 0 auto;
		width: 100%;
	}
	.b1c_form * {
		font-size: 1.2em !important;
	}
	#b1c_cr {
		float: right;
		position: relative;
		margin: 0;
	}
}