#callme {
	height: 151px;
	position: fixed;
	*position: absolute;
	top: 150px; 
	right: 0;
	width: 22px;
	z-index: 110;
}

.cme_txt {
	width: 280px !important;
	border: 1px solid #F9C0E1;
	border-radius: 5px;
	box-shadow: 0 1px 0 #fff;
	color: #000;
	font-size: 12px;
	padding: 5px 3px !important;
}

#cme_form {
	display: none;
	border: 1px solid #F9C0E1;
	box-shadow: 0 1px 10px #333;
	position: fixed;
	*position: absolute;  
	font-family: Arial;
	border-radius: 5px;
	right: 50px;
	top: 150px;
	width: 305px;
	z-index:109;
	background: #f7f7f7;
	color:grey;
}

#cme_form span {
	 padding:2px 3px 2px 10px;
	 display:block;
	 color:#333;
	 font-size:11px;
	 clear:both;
}

.cme_btn {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	padding: 4px 7px 5px;
	background: url(bttn_bg.png) repeat-x top #B20062;	
	color:#fff;
	font-size:12px;
	font-weight:normal;
	text-shadow: 0 -1px 0 #B20062;
	margin: 0;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	width: 140px;	
	border-top: 1px solid #F9C0E1;
	border-right: 1px solid #B20062;
	border-left: 1px solid #B20062;
	border-bottom: 1px solid #B20062;
	box-shadow: 0 -1px 0 #B20062, 0 1px 0 #fff;
}

#cme_form h6 {
	color:#fff;
	background:#B20062;
	font-size:12px;
	padding:8px 0 9px 10px;
	border-bottom:1px solid #cad0d6;
	box-shadow:0 1px 0 #ebebeb;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin:0 0 7px 0;
}

.callmebody {
	font-size: 11px;
	background: #fff;
	padding: 5px 10px;
}

.callmebody .inf {
	padding: 0 5px;
	margin: 0 0 10px 0;
	font-weight: bold;
	clear: both;
}

#viewform {
	border: 0;
	padding: 0;
	background: url(bttn.png) 0px 0;
	height: 185px;
	width: 22px;
	cursor: pointer;
}

.callmeform_hover {
	background-position: 22px 0!important;
}

#callme_result {
	background: #fff url(loading.gif) 10px center no-repeat;
	display: block;
	clear: both;
	margin: 5px 11px 10px 10px;
}

#callme_result div {
    padding: 7px 7px;
    margin: 4px 0px 0px 0px;
}

#callme_result .sending {
	padding: 7px 0 7px 35px;
	display: block;
	color:grey;
	clear:both;
}

#callme_result .c_success {
	background: #dee5eb;
	color:#333;
	text-shadow: none;
}

#callme_result .c_error {
	background: #dee5eb;
	color: #333;
	text-shadow: none;
}

#cme_cls {
	height:15px;
	width:15px;
	float:right;
	display:inline;	
	background:url(close.png);
	margin:8px 10px 0 0;
	cursor:pointer;
}

#cm_crds a {
	font-size: 10px;
	color: #888;
}

#cm_crds a:hover { text-decoration: none; }

#cm_crds {
	display: inline;
	float: right;
	padding: 7px 12px 0 0;
	font-size: 8px;
	color:grey;
}

#cme_cls { text-decoration: none; }

#cme_back {
	display: none;
	z-index: 108;
	opacity: 0.5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #333;
}