#callme {
	height: 151px;
	position: fixed;
	*position: absolute;
	top: 150px; 
	right: 0;
	width: 22px;
	z-index: 110;
}

.cme_txt {
	width: 285px !important;
	border: 1px solid #aaa;
	border-radius: 3px;
	box-shadow: 0 1px 0 #fff;
	color: #777;
	font-size: 12px;
	padding: 7px 5px !important;
}

#cme_form {
	display: none;
	text-shadow: 0 1px #fff;
	border-bottom: 1px solid #0f8f0c;
	border-top: 1px solid #0f8f0c;
	box-shadow: 0 3px 5px #333;
	padding-left: 10px;
	position: fixed;
	*position: absolute;  
	border-radius: 7px;
	right: 50px;
	top: 150px;
	width: 305px;
	z-index:109;
	background: #efefef;
}

#cme_form span {
	 padding:2px 1px;
	 display:block;
	 clear:both;
}

.cme_btn {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	padding: 2px 7px 5px;
	background: #0bc408;
	background: linear-gradient(to bottom, #0bc408 0%, #09a206 100%);
	color: #fff;
	font-size: 15px;
	text-shadow: 0 1px 0 #757575;
	margin: 0;
	cursor: pointer;
	border: 0;
	border-top: 1px solid #87c286;
	border-right: 1px solid #0e780c;
	border-left: 1px solid #0e780c;
	border-bottom: 1px solid #0e780c;
	box-shadow: 0 -1px 0 #0e780c, 0 1px 0 #fff;
	border-radius: 2px;
}

#cme_form h6 {
	color: #0f8f0c;
	font-size: 13px;
	padding: 10px 0 8px 0;
	margin: 0;
}

.callmebody {
	font-family: Tahoma;
	font-size: 80%;
	background: #fff;
	padding: 5px 10px;
}

.callmebody .inf {
	padding: 0 5px;
	margin: 0 0 10px 0;
	font-weight: bold;
	clear: both;
}

#viewform {
	border: 0;
	padding: 0;
	background: url(bttn.png) 0px 0;
	height: 185px;
	width: 22px;
	cursor: pointer;
}

.callmeform_hover {
	background-position: 22px 0!important;
}

#callme_result {
	background: #fff url(loading.gif) 10px center no-repeat;
	display: block;
	clear: both;
	margin: 5px 11px 10px 0px;
}

#callme_result div {
    padding: 7px 7px;
    margin: 4px 0px 0px 0px;
}

#callme_result .sending {
	padding: 7px 0 7px 35px;
	display: block;
	color:#555;
	clear: both;
}

#callme_result .c_success {
	background: #c8ed9c;
	color:#555;
	border-radius:3px;
}

#callme_result .c_error {
	background: #ffadad;
	color: #333;
	text-shadow: none;
	border-radius:3px;
}

#cme_cls {
	height:15px;
	width:15px;
	float:right;
	display:inline;	
	background:url(close.png);
	margin:12px 14px 0 0;
	box-shadow: 0 1px 0 #fff;
	cursor:pointer;
}

#cm_crds a {
	font-size: 10px;
	color: #888;
}

#cm_crds a:hover { text-decoration: none; }

#cm_crds {
	display: inline;
	float: right;
	padding: 7px 12px 0 0;
	font-size: 8px;
	color: #888;
}

#cme_cls { text-decoration: none; }

#cme_back {
	display: none;
	z-index: 108;
	opacity: 0.5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #333;
}