<!--<p><a href="/basket">Корзина</a> ничего не выбрано</p>-->
<div class="busket">
   <p class="tit"><a href="#">Ваша Корзина</a></p>
   <p><a href="#">Товаров:</a><span><a href="#">0 шт.</a></span></p> 
   <p><a href="#">На сумму:</a><span><a href="#">0 грн.</a></span></p>
   <p class="center"><a href="#">Корзина пуста</a></p>
  </div>