<!--<p><a href="/basket">Корзина</a> <span id="basket-count">{BASKET_COUNT}</span> шт.  <span id="basket-summ">{BASKET_SUMM}</span> грн.</p>
<p><a href="/order/" title="Оформить заказ">Оформить заказ</a></p>-->
 <div class="busket busket_bg">
   <p class="tit"><a href="{BASKET_URL}">Ваша Корзина</a></p>
   <p><a href="{BASKET_URL}">Товаров:</a><span><a href="#">{BASKET_COUNT} шт.</a></span></p>
   <p><a href="{BASKET_URL}">На сумму:</a><span><a href="#">{BASKET_SUMM} грн.</a></span></p>
   <p class="order"><a href="{BASKET_URL}">Оформить заказ</a></p>
  </div>

