<!-- BDP: catalog -->

	<!-- BDP: catalog_items_body -->	
        {TOP_NAV_BAR}
                  <div class="product_table">
  <table>
      
   <tr>
    <th>Код</th>
    <th>Наименование</th>
    <th>Цена</th>
    <th colspan="2">Кол-во</th>
   </tr>
   
       	<!-- BDP: catalog_list_items -->	
        <tr>
                    <td>{CATALOG_ART}</td>
                    <td>{CATALOG_PRODUCER}</td>
                    <td><span>{CATALOG_PRICE} грн.</span></td>
                    <td>{CATALOG_INPUT}шт.</td>
                    <td>{CATALOG_BUY}</td>
        </tr>
   		
        <!-- EDP: catalog_list_items -->
   

  </table>
  </div>
		
		{BOTT_NAV_BAR}
    	<div class="clear"></div>
	   
	<!-- EDP: catalog_items_body -->

	
	<!-- BDP: catalog_items_empty -->
	{GOODS_EMPTY}	
	<!-- EDP: catalog_items_empty -->
	
<!-- EDP: catalog -->




<!-- BDP: catalog_section_list_body -->	

<!--|Список категорий|-->


<div class="news_archive">
	{TOP_NAV_BAR}
	<ul class="news_list">
	<!-- BDP: catalog_section_list -->
        
        
   <li><a href="{CATALOG_SECTION_LIST_HREF}">{CATALOG_SECTION_LIST_NAME}</a><span class='admin-buttons'>{CATALOG_SECTION_LIST_ADM}</span>
       <p>{CATALOG_SECTION_LIST_PIC}{CATALOG_SECTION_LIST_PREVIEW}</p></li>
    </li>	
	<!-- EDP: catalog_section_list -->
	</ul>
	{BOTT_NAV_BAR}	
	
	
	
	<!-- BDP: catalog_section_list_empty -->
	{GOODS_EMPTY}	
	<!-- EDP: catalog_section_list_empty -->
 </div>	
	
<!-- EDP: catalog_section_list_body -->


<!-- BDP: catalog_detail_body -->

 
  
  <div class="product_full">
  
   <div class="img"> 
    {GOODS_IMG_BIG}
    {GOODS_IMG_SMALL}
    
   </div>
   <div class="desc">
       {GOODS_TEXT}
    <p><span>Производитель:</span>{GOODS_PRODUCER}</p>
    <div class="price">
     <p>Цена:<span>{GOODS_COST}</span></p>
     <p class="buy"><input type="text" value="1" {GOODS_BUY_ENTER} {GOODS_INPUT_DATA}  /> шт.<span><a href="#" {GOODS_BUY_DATA}>Заказать</a></span></p>
    </div>

	
	   <script type="text/javascript">(function() {
  if (window.pluso) if (typeof window.pluso.start == "function") return;
  var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
  s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
  s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
  var h=d[g]('head')[0] || d[g]('body')[0];
  h.appendChild(s);
})()
</script>
<div class="pluso" data-background="#ebebeb" data-options="small,square,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir"></div>
<br /><br />

<!--		buyme		-->
		<div class="bm_good">
			<div style="display:none;" class="b1c_name">{HEADER}</div>
			<div class="b1c_buy">
				<input type="button" class="b1c" style="color:white; font-weight:bolder;" value="Купить за 1 клик">
			</div>
		</div>
<!--		/buyme		-->

	</div>
   
   <div class="clear"></div>
   <div class="instr"><h3>Инструкция</h3>
   {GOODS_INSTRUCTION}
   {GOODS_STANDART_TEXT}
    </div>
	


	<div id="hypercomments_widget"></div>
<script type="text/javascript">
_hcwp = window._hcwp || [];
_hcwp.push({widget:"Stream", widget_id:10239});
(function() {
if("HC_LOAD_INIT" in window)return;
HC_LOAD_INIT = true;
var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/10239/"+lang+"/widget.js";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hcc, s.nextSibling);
})();
</script>
  </div>

 
<!-- EDP: catalog_detail_body -->
	