<!-- BDP: listabc -->
		{TOP_NAV_BAR}	
                  <div class="product_table">
  <table>
   <!-- BDP: listabc_header -->   
   <tr>
    <th>Код</th>
    <th>Наименование</th>
    <th>Цена</th>
    <th colspan="2">Кол-во</th>
   </tr>
   <!-- EDP: listabc_header -->
    <!-- BDP: listabc_list -->
<tr>
    <td>{LISTABC_ART}</td>
    <td><a href="{LISTABC_URL}">{LISTABC_NAME}</a><br />{LISTABC_PRODUCER}</td>
    <td><span>{LISTABC_COST} грн.</span></td>
    <td><input type="text" id="goods_{LISTABC_ID}" value="1" />шт.</td>
    <td><a href="#" class="buy" onclick="addToBasket('{LISTABC_REGION_KOD}', 'goods_{LISTABC_ID}', $('goods_{LISTABC_ID}').value);">Заказать</a></td>
   </tr>
    <!-- EDP: listabc_list -->
  
  </table>
  </div>
		
		{BOTT_NAV_BAR}	
    	<div class="clear"></div>
	   
  <!-- BDP: listabc_empty -->
  По Вашему запросу ничего не найдено
  <!-- EDP: listabc_empty -->
  
<!-- EDP: listabc -->
