<!-- BDP: banner_image -->
<li><a href="{BANNER_HREF}" target="_blank"><img src="/img/banners/bottom/{BANNER_IMG}" width="88" height="30" alt="" /></a></li>
<!-- EDP: banner_image -->

<!-- BDP: banner_text -->
{BANNER_TEXT}
<!-- EDP: banner_text -->

<!-- BDP: banner_swf_with_url -->
<li><a href="{BANNER_HREF}" target="_blank">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"  width="88" height="30">
  <param name="movie" value="/img/banners/bottom/swf/{BANNER_IMG}" />
  <param name="quality" value="high" />
  <param name="allowScriptAccess" value="always" />
  <param name="wmode" value="transparent">
     <embed src="/img/banners/top/swf/{BANNER_IMG}"
      quality="high"
      type="application/x-shockwave-flash"
      WMODE="transparent"
      width="468"
      height="60"
      pluginspage="http://www.macromedia.com/go/getflashplayer"
      allowScriptAccess="always" />
</object>
</a></li>

<!-- EDP: banner_swf_with_url -->

<!-- BDP: banner_swf -->

<li>

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="88" height="30">
  <param name="movie" value="/img/banners/top/swf/{BANNER_IMG}" />
  <param name="quality" value="high" />
  <param name="allowScriptAccess" value="always" />
  <param name="wmode" value="transparent">
     <embed src="/img/banners/bottom/swf/{BANNER_IMG}"
      quality="high"
      type="application/x-shockwave-flash"
      WMODE="transparent"
      width="468"
      height="60"
      pluginspage="http://www.macromedia.com/go/getflashplayer"
      allowScriptAccess="always" />
</object>
</li>

<!-- EDP: banner_swf -->