<!--<p><a href="/basket">Кошик</a> нічого не вибрано</p>-->
<div class="busket">
   <p class="tit"><a href="#">Ваш Кошик</a></p>
   <p><a href="#">Товарів:</a><span><a href="#">0 шт.</a></span></p> 
   <p><a href="#">На суму:</a><span><a href="#">0 грн.</a></span></p>
   <p class="center"><a href="#">Кошик пустий</a></p>
  </div>