<!--<p><a href="/basket">Кошик</a> <span id="basket-count">{BASKET_COUNT}</span> шт.  <span id="basket-summ">{BASKET_SUMM}</span> грн.</p>
<p><a href="/order/" title="Оформить заказ">Замовити</a></p>-->
 <div class="busket busket_bg">
   <p class="tit"><a href="{BASKET_URL}">Ваш Кошик</a></p>
   <p><a href="{BASKET_URL}">Товарів:</a><span><a href="#">{BASKET_COUNT} шт.</a></span></p>
   <p><a href="{BASKET_URL}">На суму:</a><span><a href="#">{BASKET_SUMM} грн.</a></span></p>
   <p class="order"><a href="{BASKET_URL}">Ваше замовлення</a></p>
  </div>

