<!-- BDP: err -->
<div style='color: red; font: Bold 11px Tahoma; padding: 0 0 35px 0;'>
{ERR}
</div>
<!-- EDP: err -->

<!-- BDP: mess -->
<div style='padding: 0 0 10px 0;'>
{ERR}
</div>
<!-- EDP: mess -->