{KONTAKTI_BODY}

<!--<object width="621" height="500" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
<param value="high" name="quality"><param value="/img/flash/map.swf" name="src">
<embed width="621" height="500" quality="high" src="/img/flash/map.swf" type="application/x-shockwave-flash">
</object>-->

 <div class="news_list">
   		<ul>
	<!-- BDP: section_row -->
		<li><p>{PAGE_PREVIEW}</p><div class="clear"></div></li>       
	<!-- EDP: section_row -->
	</ul>
	</div>

<div id="f-back">
    
<form action="" method="post">
<input type="hidden" name="captcha_id" value="{CAPTCHA_ID}" />

<div class="ft">Всі поля обов’язкові до заповнення</div><br>
<div class="ft"><div class="textfb">Им’я:</div><input type="text" name="fio" value="{FIO}" style="width: 300px; margin-bottom: 10px;" class="f-txt"></div>
<div class="ftr"><div class="textfb">e-mail:</div><input type="text" name="email" value="{EMAIL}" style="width: 300px;  margin-bottom: 10px;" class="f-txt"></div>
<div class="ftr"><div class="textfb">Тел.:</div><input type="text" name="phone" value="{PHONE}" style="width: 300px;  margin-bottom: 10px;" class="f-txt"></div>
<div class="clear"></div>

<div class="ft"><div class="textfb">Текст повідомлення:</div><textarea class="f-tarea" style="width: 302px;" rows="4" name="body">{BODY}</textarea>    </div>


<div class="clear"></div>



<div class="in-code">
    <div class="code">Введіть текст показаний на зображенні<!--<span>*</span> {FEEDCAPTCHA}--></div>
    <div class="code-img" style="background: #e1f5f6; width: 300px;"><img src="/img/captcha/{CAPTCHA_ID}.png" width="130" height="60" alt="" /><input style=" margin-left: 40px; width: 70px; font-size: 16px;" name="captcha_input" type="text"></div>
    <br>
    <!--<span>Если вы не можете прочитать код с изображения,<br />нажмите на изображение для генерации нового кода.</span>-->
<input type="submit" value="Відправити" class="button">
</div>

<div class="clear"></div>


    
    


</form>

</div>
