<!-- BDP: i_xz -->
<div class="xz"><img src="/img/1.jpg" width="655px" height="301px" /></div>
<!-- EDP: i_xz -->

<!-- BDP: i_hits -->
<div class="btitle"><h2 class="title_p">титл</h2></div>
<!-- EDP: i_hits -->

<!-- BDP: i_news -->
<div class="btitle"><h2 class="title_p">{NEWS_H1}</h2></div>
<!-- EDP: i_news -->

<!-- BDP: i_artikle -->
<div class="btitle"><h2 class="title_p">{ARTIKLE_H1}</h2></div>
<!-- EDP: i_artikle -->
<!-- BDP: i_items -->
<div class="btitle"><h2 class="title_p">{ITEMS_H1}</h2></div>
<!-- EDP: i_items -->
<!-- BDP: index_header_txt -->
<div id="body">
<div class="ititle"><h1 class="title_p">{I_HEADER}</h1></div>
{I_BODY}
</div>
<!-- EDP: index_header_txt -->