<!-- BDP: news -->
	<div class="pager2 pager2_center">{PAGES_TOP}</div>
        <ul class="news_list">
	<!-- BDP: news_item -->
           <li>
               {DATE}
               <span><a href="/news/{NEWS_ADRESS}" title="{NEWS_HEADER}">{NEWS_HEADER}</a>&nbsp;&nbsp;{ADM_EDIT}</span>
               <p>{PIC}{NEWS_PREVIEW}</p><!--<p><a href="/news/{NEWS_ADRESS}" title="{NEWS_HEADER}">Подробнее</a></p>-->
           </li>
	<!-- EDP: news_item -->
	</ul>
	<div class="pager2 pager2_center">{PAGES_BOTTOM}</div>
<!-- EDP: news -->




<!-- BDP: news_detail -->	

<div class="news_archive">
<h1>{NEWS_HEADER}</h1>
<div class="news_date">{NEWS_DATE}</div>
     {PIC}  
     {NEWS_PREVEW} 
     <br />
        {NEWS_BODY}
       <br />
     <div class="clear"></div>
  </div>
<!-- EDP: news_detail -->