<!-- BDP: section -->
	<div class="pager2 pager2_center">{PAGES_TOP}</div>
	 <div class="news_list">
   		<ul>
    
	
	<!-- BDP: section_row -->
		<li><a href="{PAGE_ADRESS}" title="{PAGE_HEADER}">{PAGE_HEADER}</a>&nbsp;&nbsp;{PAGE_ADM}<br />
                    <p>{PIC}{PAGE_PREVIEW}</p><!--<p><a href="{PAGE_ADRESS}" title="{PAGE_HEADER}">Подробнее</a></p>--><div class="clear"></div></li>       
	<!-- EDP: section_row -->
	</ul>
	</div>
	
	<div class="pager2 pager2_center">{PAGES_BOTTOM}</div>
	
	
<!-- EDP: section -->

<!-- BDP: short_list -->
<div class="news_lst">
<div class="nz">{PAGE_ADM}<a href="{PAGE_ADRESS}" title="{PAGE_HEADER}"><b>{PAGE_HEADER}</b></a></div>
</div>

<div class="sep_h"><div><img src="/img/z.gif" width="1px" height="1px" alt="" /></div></div>
<!-- EDP: short_list -->