<!-- BDP: enter -->
      <table cellSpacing=0 cellPadding=0 width="250px" border="0" class="tbl_l">
      <form name="enter" action="" method="POST">
      <tr>
       <td><b>Логин:</b></td>
       <td class="a_r"><input type="text" name="login" class="frm_wtext"></td>
      </tr>
      <tr>
       <td><b>Пароль:</b></td>
       <td class="a_r"><input type="password" name="password" class="frm_wtext"></td>
      </tr>
      <tr>
       <td colspan="2" class="a_r"><input type="submit" name="go_admin" class="frm_subm" value="Вход"></td>
      </tr>
      </form>
      </table>
<!-- EDP: enter -->